<aw-view-base [showNavbar]="false" [showSidebar]="false" [showFooter]="false">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center vh-100">
      <div class="col-lg-6 m-auto text-center shadow-sm">
        <div class="my-5">
          <img src="assets/images/404.jpg" alt="logo" width="100%" />
        </div>

        <h2>Pagina no encontrada</h2>

        <span class="h1 text-info">:(</span>
      </div>

      <div class="col-12 text-center">
        <button routerLink="/" class="btn btn-primary"><span class="icon fas fa-home"></span> Inicio</button>
      </div>
    </div>
  </div>
</aw-view-base>
