<aw-page-simple>
  <div class="recovery-password-container">
    <form (ngSubmit)="handleSubmit()" [formGroup]="form" class="form">
      <mat-card class="mat-elevation-z3 p-4">
        <mat-card-header>
          <mat-card-title class="title">
            <h1>Recuperar contraseña</h1>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          @if (isSucceeded) {
            <div class="alert alert-success mb-4">
              Se ha enviado un correo para restablecer la contraseña. <br />
              Siga las indicaciones desde su correo.
            </div>
          }

          <aw-non-field-errors [badRequest]="badRequest" />

          <!-- email -->
          <aw-form-input
            [badRequest]="badRequest"
            [form]="form"
            [submitted]="submitted"
            fieldName="email"
            formControlName="email"
            icon="mail"
            label="Correo electrónico" />

          <mat-divider />
        </mat-card-content>

        <mat-card-footer class="mt-2">
          <aw-btn-loading [loading]="loading" btnText="Recuperar contraseña" />
          <button [routerLink]="[siteUrl.auth.login]" class="ms-2" mat-stroked-button type="button">
            Identificarse
          </button>
        </mat-card-footer>
      </mat-card>
    </form>
  </div>
</aw-page-simple>
