<ng-container *ngIf="breadcrumb.hasItems()">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li
        *ngFor="let bread of breadcrumb.getItems()"
        [ngClass]="{ active: bread.active }"
        class="breadcrumb-item small">
        <ng-container *ngIf="bread.active">
          <a [routerLink]="bread.link">
            <span *ngIf="bread.icon">
              <span [ngClass]="bread.icon"></span>
            </span>
            {{ bread.text }}
          </a>
        </ng-container>

        <ng-container *ngIf="!bread.active">
          <span class="text-muted">
            <span [ngClass]="bread.icon" aria-current="page"></span>
            {{ bread.text }}
          </span>
        </ng-container>
      </li>
    </ol>
  </nav>
</ng-container>
