<mat-accordion multi>
  <!-- administration -->
  <mat-expansion-panel
    class="mat-elevation-z0"
    (closed)="handleClosedExpansionPanel('administration')"
    (opened)="handleOpenExpansionPanel('administration')"
    [awRequiredRole]="role.Admin"
    [expanded]="stateSidebarMenu('administration')">
    <mat-expansion-panel-header>
      <mat-panel-title><mat-icon>settings</mat-icon> &nbsp; Administración</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-nav-list>
      <mat-list-item [routerLink]="siteUrl.dashboard.dashboard">Panel</mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>

  <!-- empresa -->
  <mat-expansion-panel
    class="mat-elevation-z0"
    (closed)="handleClosedExpansionPanel('enterprise')"
    (opened)="handleOpenExpansionPanel('enterprise')"
    [awRequiredRole]="role.HumanResources"
    [expanded]="stateSidebarMenu('enterprise')">
    <mat-expansion-panel-header>
      <mat-panel-title><mat-icon>view_list</mat-icon> &nbsp; Empresa</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-nav-list>
      <span [awRequiredRole]="role.Staff">
        <mat-list-item [routerLink]="siteUrl.companySettings.details">Configuración</mat-list-item>
      </span>
      <mat-list-item [routerLink]="siteUrl.employees.list">Empleados</mat-list-item>
      <mat-list-item [routerLink]="siteUrl.departments.list">Departamentos</mat-list-item>
      <mat-list-item [routerLink]="siteUrl.companyTasks.list">Tareas</mat-list-item>
      <mat-list-item [routerLink]="siteUrl.categoryAbsences.list">Ausencias</mat-list-item>
      <mat-list-item [routerLink]="siteUrl.timeControlRecords.list">
        <div class="d-flex justify-content-start">
          Registro de tiempos
          <mat-chip [highlighted]="timeControlIncidencesCount() > 0" color="warn" class="ms-auto">
            {{ timeControlIncidencesCount() }}
          </mat-chip>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>

  <!-- calendars -->
  <mat-expansion-panel
    class="mat-elevation-z0"
    (closed)="handleClosedExpansionPanel('calendar')"
    (opened)="handleOpenExpansionPanel('calendar')"
    [awRequiredRole]="role.HumanResources"
    [expanded]="stateSidebarMenu('calendar')">
    <mat-expansion-panel-header>
      <mat-panel-title><mat-icon>calendar_month</mat-icon> &nbsp; Calendario</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-nav-list>
      <mat-list-item [routerLink]="siteUrl.companyCalendar.calendar">Calendarios</mat-list-item>
      <mat-list-item [routerLink]="siteUrl.manageHolidays.claims">Vacaciones</mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>

  <!-- employee -->
  <mat-expansion-panel
    class="mat-elevation-z0"
    (closed)="handleClosedExpansionPanel('employee')"
    (opened)="handleOpenExpansionPanel('employee')"
    [awRequiredRole]="role.Employee"
    [expanded]="stateSidebarMenu('employee')">
    <mat-expansion-panel-header>
      <mat-panel-title><mat-icon>person</mat-icon> &nbsp; Empleado</mat-panel-title>
    </mat-expansion-panel-header>

    <mat-nav-list [awRequiredRole]="role.Employee">
      <mat-list-item [routerLink]="siteUrl.employeeSettings.settings">Configuración</mat-list-item>
      <mat-list-item [routerLink]="siteUrl.timesControlProgress.list">Control de tiempo</mat-list-item>
      <mat-list-item [routerLink]="siteUrl.employeeCalendar.index">Calendar</mat-list-item>
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>
