@import "variables";

mat-sidenav-container {
  height: calc(100vh - 64px);

  .sidenav {
    width: 300px;
  }

  .sidenav-toolbar {
    width: 400px;
  }

  .sidenav-header {
    padding-top: 24px;
    text-align: center;

    .sidenav-header-image {
      border-radius: 100%;
      object-fit: cover;
      margin-bottom: 10px;

      &.time-state-close {
        border: 3px solid $aw-color-danger;
      }

      &.time-state-open {
        border: 3px solid $aw-color-success;
      }
    }

    .header-text {
      .header-text-title {
        margin: 0;
        font-size: 1rem;
        line-height: 1.5rem;
      }

      .header-text-content {
        margin: 0;
        font-size: 0.8rem;
      }
    }
  }

  .sidenav-content {
    padding: 8px 24px;
  }
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;

  .mat-mdc-list-item {
    padding-left: 57px !important;
  }
}

@media screen and (max-width: 600px) {
  mat-sidenav-container {
    height: calc(100vh - 57px);
  }
}
