<aw-page-base>
  <aw-page-header [breadcrumb]="breadcrumb">
    <div class="header-links">
      <aw-company-holidays-headers />
    </div>
  </aw-page-header>

  <mat-card>
    <!-- content -->
    <mat-card-content>
      <!-- toolbar -->
      <div class="d-flex flex-wrap justify-content-between">
        <!-- year selector -->
        <aw-year-selector
          (changeYearSelected)="handleYearSelectorChange($event)"
          [dateSelected]="yearSelected"
          [readOnly]="true" />

        <!-- table filter -->
        <aw-table-filter
          (filterChange)="handleFilterChange($event)"
          [apiResult]="apiResult"
          [fieldsFilter]="fieldsFilter" />
      </div>

      <!-- table -->
      @if (!loading) {
        <table mat-table matSort (matSortChange)="handleSortChange($event)" [dataSource]="dataSource">
          <!-- firstName -->
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
            <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
          </ng-container>

          <!-- lastName -->
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</th>
            <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
          </ng-container>

          <!-- email -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo electrónico</th>
            <td mat-cell *matCellDef="let row">{{ row.email }}</td>
          </ng-container>

          <!-- totalDays -->
          <ng-container matColumnDef="totalDays">
            <th mat-header-cell *matHeaderCellDef>Días totales</th>
            <td mat-cell *matCellDef="let row">
              <span class="text-success">
                {{ row.totalDays }}
              </span>
            </td>
          </ng-container>

          <!-- consumedDays -->
          <ng-container matColumnDef="consumedDays">
            <th mat-header-cell *matHeaderCellDef>Utilizados</th>
            <td mat-cell *matCellDef="let row">
              <span
                [ngClass]="{
                  'text-success': row.totalDays > row.consumedDays,
                  'text-danger': row.totalDays === row.consumedDays
                }">
                {{ row.consumedDays }}
              </span>
            </td>
          </ng-container>

          <!-- remaining -->
          <ng-container matColumnDef="remaining">
            <th mat-header-cell *matHeaderCellDef>Restantes</th>
            <td mat-cell *matCellDef="let row">
              <span [ngClass]="{ 'text-success': row.remaining > 0, 'text-danger': row.remaining <= 0 }">
                {{ row.remaining }}
              </span>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="handleSelectRow(row)"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell p-4" [attr.colspan]="displayedColumns.length">No hay datos a mostrar</td>
          </tr>
        </table>

        <!-- paginator -->
        @if (dataSource) {
          <mat-paginator
            showFirstLastButtons
            (page)="handlePageEvent($event)"
            [length]="apiResult.totalItems"
            [pageSize]="apiResult.pageSize"
            [pageIndex]="apiResult.pageNumber - 1"
            [pageSizeOptions]="[25, 50, 100]"
            aria-label="Selección de pagina" />
        }
      } @else {
        <!-- spinner -->
        <div class="d-flex justify-content-center p-5">
          <mat-progress-spinner color="primary" mode="indeterminate" />
        </div>
      }
      <span class="small">Solo se muestran los empleados activos.</span>
    </mat-card-content>
  </mat-card>
</aw-page-base>
