<aw-page-base>
  <aw-page-header [breadcrumb]="breadcrumb">Editar datos de empleado</aw-page-header>

  <mat-card>
    <mat-card-content>
      <!-- form -->
      @if (!loadingEmployee && employee) {
        <form (ngSubmit)="handleSubmit()" [formGroup]="form">
          <aw-non-field-errors [badRequest]="badRequest" />
          <!-- firstName -->
          <div class="mb-2">
            <aw-form-input
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              fieldName="firstName"
              formControlName="firstName"
              label="Nombre" />
          </div>

          <!-- lastName -->
          <div class="mb-2">
            <aw-form-input
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              fieldName="lastName"
              formControlName="lastName"
              label="Apellidos" />
          </div>

          <!-- email -->
          <div class="mb-2">
            <aw-form-input
              [badRequest]="badRequest"
              [form]="form"
              [formInputType]="formInputType.Email"
              [submitted]="submitted"
              fieldName="email"
              formControlName="email"
              label="Correo electrónico" />
          </div>

          <!-- phoneNumber -->
          <div class="mb-2">
            <aw-form-input
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              fieldName="phoneNumber"
              formControlName="phoneNumber"
              label="Teléfono" />
          </div>

          <!-- entryDate -->
          <div class="mb-2">
            <aw-form-datepicker
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              [readonly]="true"
              fieldName="entryDate"
              formControlName="entryDate"
              label="Fecha de ingreso" />
          </div>

          <!-- companyCalendarId -->
          <div class="mb-2">
            <aw-form-company-calendars
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              fieldName="companyCalendarId"
              formControlName="companyCalendarId" />
          </div>

          <mat-divider class="mb-2" />

          <aw-btn-back class="me-2"></aw-btn-back>
          <aw-btn-loading icon="save" btnText="Guardar" [loading]="loadingForm" />
        </form>
      } @else {
        <div class="d-flex justify-content-center">
          <mat-progress-spinner color="primary" mode="indeterminate" />
        </div>
      }
    </mat-card-content>
  </mat-card>
</aw-page-base>
