<div class="dual-list-box">
  @if (!loading()) {
    <div class="d-flex">
      <!-- left box -->
      <div class="d-flex flex-column flex-wrap box-left mx-2">
        <mat-form-field>
          <mat-label>{{ labelLeftListBox() }}</mat-label>
          <input
            matInput
            (input)="handleFilterLeftBox()"
            [(ngModel)]="termLeftValue"
            class="mb-2"
            placeholder="Filtrar"
            type="search" />
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>

        <select
          class="box-list-select"
          [(ngModel)]="itemsLeftSelected"
          [id]="boxLeftId"
          [size]="size"
          aria-label="Items unselected"
          multiple>
          @for (item of dualListBoxItemsLeft; track item) {
            <option class="box-list-select-item" [ngValue]="item.id">{{ item.value }}</option>
          }
        </select>

        <button
          mat-flat-button
          color="primary"
          (click)="handleLeftBtnClick()"
          [disabled]="!itemsLeftSelected.length"
          class="mt-1">
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </div>

      <!-- right box -->
      <div class="d-flex flex-column flex-wrap box-right mx-2">
        <mat-form-field>
          <mat-label>{{ labelRightListBox() }}</mat-label>
          <input
            matInput
            (input)="handleFilterRightBox()"
            [(ngModel)]="termRightValue"
            class="mb-2"
            placeholder="Filtrar"
            type="search" />
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>

        <select
          class="box-list-select"
          [(ngModel)]="itemsRightSelected"
          [id]="boxRightId"
          [size]="size"
          aria-label="Items selected"
          multiple>
          @for (item of dualListBoxItemsRight; track item) {
            <option class="box-list-select-item" [ngValue]="item.id">{{ item.value }}</option>
          }
        </select>

        <button
          mat-flat-button
          color="primary"
          (click)="handleRightBtnClick()"
          [disabled]="!itemsRightSelected.length"
          class="mt-1">
          <mat-icon>west</mat-icon>
        </button>
      </div>
    </div>

    <div class="d-flex mt-3">
      <button mat-flat-button color="primary" (click)="handleSaveChanges()" class="btn btn-outline-success m-auto">
        <mat-icon>save</mat-icon> {{ textButtonAction() }}
      </button>
    </div>
  } @else {
    <div class="d-flex">
      <div class="m-auto">
        <mat-progress-spinner color="primary" mode="indeterminate" />
      </div>
    </div>
  }
</div>
