<!-- tab user-list -->
@if (tabSelected() === "user-list") {
  <div class="d-flex mt-4">
    <button mat-stroked-button color="primary" (click)="toggleTabSelected()">
      <mat-icon>add</mat-icon>
      Asociar empleados
    </button>
  </div>

  <aw-department-user-list />
}

<!-- tab add-users -->
@if (tabSelected() === "add-users") {
  <aw-department-manage-users />

  <div class="d-flex mt-4">
    <button mat-flat-button color="accent" (click)="toggleTabSelected()">
      <mat-icon>navigate_before</mat-icon>
      Volver a empleados
    </button>
  </div>
}
