<aw-page-base>
  <aw-page-header [breadcrumb]="breadcrumb">Editar ausencia</aw-page-header>

  <mat-card>
    <mat-card-content>
      <!-- form -->
      @if (categoryAbsence) {
        <form (ngSubmit)="handleSubmit()" [formGroup]="form">
          <aw-non-field-errors [badRequest]="badRequest" />

          <!-- description -->
          <div class="mb-2">
            <aw-form-input
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              fieldName="description"
              formControlName="description"
              label="Descripción" />
          </div>

          <!-- show result -->
          @if (form.get("description")?.value) {
            <div class="my-3">
              <aw-badge [background]="form.get('background')?.value" [color]="form.get('color')?.value">
                {{ form.get("description")?.value }}
              </aw-badge>
            </div>
          }

          <!-- active -->
          <div class="mb-2">
            <aw-form-checkbox
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              fieldName="active"
              formControlName="active"
              label="Activo" />
          </div>

          <div class="d-flex">
            <!-- background -->
            <div class="mb-2">
              <aw-form-color-picker
                [badRequest]="badRequest"
                [form]="form"
                [submitted]="submitted"
                fieldName="background"
                formControlName="background"
                label="Color de fondo" />
            </div>

            <!-- color -->
            <div class="mb-2 ms-5">
              <aw-form-color-picker
                [badRequest]="badRequest"
                [form]="form"
                [submitted]="submitted"
                fieldName="color"
                formControlName="color"
                label="Color de texto" />
            </div>
          </div>

          <mat-divider class="mt-4" />

          <aw-btn-back class="me-2" />
          <aw-btn-loading [loading]="loadingForm" icon="save" btnText="Guardar" />
        </form>
      }
    </mat-card-content>
  </mat-card>
</aw-page-base>
