<mat-card class="calendar">
  <mat-card-content>
    <h4>{{ title }}</h4>
    @if (!loading() && calendarEvents() && month()) {
      <mat-calendar
        [startAt]="month()"
        [dateClass]="dateClass"
        [dateFilter]="handleDateFilter"
        (selectedChange)="handleSelectedChange($event)"
        class="month-calendar" />
    } @else {
      <div class="d-flex justify-content-center p-5">
        <mat-progress-spinner color="primary" mode="indeterminate" />
      </div>
    }
  </mat-card-content>
</mat-card>
