<aw-page-base>
  <aw-page-header [breadcrumb]="breadcrumb">Configuración</aw-page-header>

  <mat-card>
    <mat-card-content>
      <!-- toolbar-->
      <button [routerLink]="[siteUrl.companySettings.update]" color="primary" mat-stroked-button>
        <mat-icon>edit</mat-icon>
        Editar
      </button>

      @if (!loadingCompanySettings()) {
        <table class="table-list">
          <tbody>
            <!-- días laborables -->
            <tr class="table-list-row">
              <td>
                Días laborables
                <mat-icon matTooltip="Días por defecto considerados laborables" color="primary">info</mat-icon>
              </td>
              <td>
                <aw-working-days-week />
              </td>
            </tr>

            <!-- zona horaria-->
            <tr class="table-list-row">
              <td>
                Zona horaria
                <mat-icon matTooltip="Zona horaria de la compañía" color="primary">info</mat-icon>
              </td>
              <td>{{ companySettings()?.timezone }} {{ nowWithTimezone }}</td>
            </tr>

            <!-- periodo max control. -->
            <tr class="table-list-row">
              <td>
                Periodo máx de un control de tiempo
                <mat-icon
                  matTooltip="Horas máximas de un control de tiempo, si se excede se cierran automáticamente"
                  color="primary">
                  info
                </mat-icon>
              </td>
              <td>{{ companySettings()?.periodTimeControlMax }} horas</td>
            </tr>

            <!-- horas de trabajo. -->
            <tr class="table-list-row">
              <td>
                Horas de trabajo semanal
                <mat-icon matTooltip="Horas totales de la semana laboral" color="primary">info</mat-icon>
              </td>
              <td>{{ companySettings()?.weeklyWorkingHours }} horas</td>
            </tr>

            <!-- geolocalización -->
            <tr class="table-list-row">
              <td>
                Geolocalización requerida
                <mat-icon
                  matTooltip="Para iniciar un tiempo, requiere por parte del empleado aceptar la geolocalización"
                  color="primary">
                  info
                </mat-icon>
              </td>
              <td>
                <span
                  awTooltip
                  [title]="requiredGeolocation"
                  [innerHTML]="companySettings()?.geolocationRequired | boolToIcon"></span>
              </td>
            </tr>
          </tbody>
        </table>
      } @else {
        <!-- spinner -->
        <div class="d-flex justify-content-center my-5">
          <mat-progress-spinner color="primary" mode="indeterminate" />
        </div>
      }
    </mat-card-content>
  </mat-card>
</aw-page-base>
