<aw-view-base>
  <!-- header -->
  <aw-view-header [breadcrumb]="breadcrumb">
    Departamento - <span class="fs-5">{{ departmentSelected()?.name }}</span>
  </aw-view-header>
  <!-- end header -->

  <!-- department details -->
  <ng-container *ngIf="departmentSelected()">
    <aw-department-details></aw-department-details>
  </ng-container>
  <!-- end department details -->

  <!-- tabs -->
  <ng-container *ngIf="departmentSelected()">
    <div class="mt-3">
      <aw-card>
        <div>
          <tabset>
            <tab #tabTasks="tab" heading="Empleados"> </tab>

            <tab #tabTimeControl="tab" heading="Otra pestaña..."> </tab>

            <tab #tabC="tab" heading="Basic Title 2">Basic content 2</tab>
          </tabset>
        </div>
      </aw-card>
    </div>
  </ng-container>
</aw-view-base>
<!-- end tabs -->
