<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top shadow">
  <div class="container-fluid">
    <span
      (click)="toggleSidebarState()"
      [ngClass]="{ 'text-muted': sidebarMenuState$() }"
      class="fa-solid fa-bars"></span>

    <a [routerLink]="[siteUrls.home]" class="navbar-brand cursor-pointer">{{ siteName }}</a>

    <button
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler"
      data-bs-target="#navbarSupportedContent"
      data-bs-toggle="collapse"
      type="button">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto"></ul>

      <div>
        <ul class="navbar-nav">
          <!-- incidences -->
          <li [awRequiredRole]="roles.Staff" class="nav-item">
            <a [routerLink]="siteUrls.timeControlRecords.list" class="nav-link">
              Incidencias

              @if (timeControlIncidencesCount()) {
                <span class="badge text-bg-danger">{{ timeControlIncidencesCount() }}</span>
              } @else {
                <span class="badge text-bg-secondary">0</span>
              }
            </a>
          </li>
          <!-- end incidences -->

          <!-- theme selector -->
          <li class="nav-item">
            <a class="nav-link cursor-pointer">
              <span
                (click)="handleChangeTheme()"
                [ngClass]="{
                  'fa-solid fa-moon': theme() === themeColors.Light,
                  'fa-regular fa-sun': theme() === themeColors.Dark
                }"></span>
            </a>
          </li>
          <!-- end theme selector -->

          <!-- user information-->
          @if (authState$()) {
            <li class="nav-item">
              <a class="nav-link">{{ userName }}</a>
            </li>
          }
          <!-- user information -->
        </ul>
      </div>
    </div>
  </div>
</nav>
