<mat-toolbar class="mat-elevation-z3">
  <button (click)="handleToggleSidenavState()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

  <span class="cursor-pointer" [routerLink]="siteUrl.home">{{ siteName }}</span>
  <span class="d-flex m-auto"></span>

  <button (click)="handleToggleThemeColor()" mat-icon-button>
    <span>
      @if (theme() === themeColor.Light) {
        <mat-icon>light_mode</mat-icon>
      } @else {
        <mat-icon>dark_mode</mat-icon>
      }
    </span>
  </button>

  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
