<aw-view-base>
  <h1>Hello world</h1>
  <button (click)="handleToggleNavbar()" class="btn btn-outline-primary">Navbar</button>
  <button (click)="handleToggleSidebar()" class="btn btn-outline-warning ms-2">Sidebar</button>
  <button (click)="handleToggleFooter()" class="btn btn-outline-success ms-2">Footer</button>

  <ng-container *ngIf="getUserName()">
    <div class="mt-3">
      User Id: <span class="text-success">{{ getUserId() }}</span>
    </div>
    <div>
      User name: <span class="text-success">{{ getUserName() }}</span>
    </div>

    <div class="mt-3">
      <h3>Roles</h3>
      <ul *ngFor="let role of getRoles()">
        <li>{{ role }}</li>
      </ul>
    </div>

    <div class="mt-3">
      <button (click)="logOut()" class="btn btn-outline-danger">Log out</button>
    </div>
  </ng-container>

  <div class="mt-2">
    <button (click)="handleChangeThemeColor()" class="btn btn-primary">Change theme color</button>
  </div>

  <aw-card>
    <h5 class="bg-mode">Hello card</h5>
  </aw-card>
</aw-view-base>
