<aw-view-base>
  <h1>Hello world</h1>

  <h2>State de Sidebar {{ layoutService.sidebarState$() }}</h2>

  <button
    (click)="handleToggleNavbar()"
    [ngClass]="{ 'btn-primary': layoutService.navbarState$(), 'btn-outline-primary': !layoutService.navbarState$() }"
    class="btn">
    Navbar
  </button>

  <button
    (click)="handleToggleSidebar()"
    [ngClass]="{ 'btn-warning': layoutService.sidebarState$(), 'btn-outline-warning': !layoutService.sidebarState$() }"
    class="btn ms-2">
    Sidebar
  </button>

  <button
    (click)="handleToggleFooter()"
    [ngClass]="{ 'btn-success': layoutService.footerState$(), 'btn-outline-success': !layoutService.footerState$() }"
    class="btn ms-2">
    Footer
  </button>

  <ng-container *ngIf="getUserName()">
    <div class="mt-3">
      User Id: <span class="text-success">{{ getUserId() }}</span>
    </div>

    <div>
      User name: <span class="text-success">{{ getUserName() }}</span>
    </div>

    <div>
      Company Id: <span class="text-success">{{ getCompanyId() }}</span>
    </div>

    <div class="mt-3">
      <h3>Roles</h3>
      <ul *ngFor="let role of getRoles()">
        <li>{{ role }}</li>
      </ul>
    </div>

    <div class="mt-3">
      <button (click)="handleLogOut()" class="btn btn-outline-danger">Log out</button>
    </div>
  </ng-container>

  <div class="mt-2">
    <button (click)="handleChangeThemeColor()" class="btn btn-primary">Change theme color</button>
  </div>

  <div class="row mt-2">
    <div class="col">
      <aw-card>
        <h5 class="bg-mode">Hello card 1</h5>
      </aw-card>
    </div>
    <div class="col">
      <aw-card>
        <h5 class="bg-mode">Hello card 2</h5>
      </aw-card>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <aw-card>
        <h5 class="bg-mode">Hello card 1</h5>
      </aw-card>
    </div>
    <div class="col">
      <aw-card>
        <h5 class="bg-mode">Hello card 2</h5>
      </aw-card>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <aw-card>
        <h5 class="bg-mode">Hello card 1</h5>
      </aw-card>
    </div>
    <div class="col">
      <aw-card>
        <h5 class="bg-mode">Hello card 2</h5>
      </aw-card>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col">
      <aw-card>
        <h5 class="bg-mode">Hello card 1</h5>
      </aw-card>
    </div>
    <div class="col">
      <aw-card>
        <h5 class="bg-mode">Hello card 2</h5>
      </aw-card>
    </div>
  </div>

  <div [awRequiredRole]="roles.anonymous" class="row mt-2">
    <div class="col">
      <aw-card>
        <h5 class="bg-mode">Hello card 11111</h5>
      </aw-card>
    </div>
    <div class="col">
      <aw-card>
        <h5 class="bg-mode">Hello card 2</h5>
      </aw-card>
    </div>
  </div>
</aw-view-base>
