<div class="tieme-control-incidence-dialog">
  <h2 mat-dialog-title>Crear incidencia</h2>
  <mat-dialog-content>
    <form [formGroup]="form">
      <aw-non-field-errors [badRequest]="badRequest" />

      @if (timeControl) {
        <div>
          <!-- incidenceDescription -->
          <aw-form-textarea
            (keyup)="handleIncidenceCharacters()"
            [badRequest]="badRequest"
            [form]="form"
            [submitted]="submitted"
            fieldName="incidenceDescription"
            formControlName="incidenceDescription"
            label="Descripción" />

          <span
            [ngClass]="{
              'text-success': incidenceLength <= incidenceMaxCharacters,
              'text-danger': incidenceLength > incidenceMaxCharacters
            }"
            class="small">
            {{ incidenceLength }}/{{ incidenceMaxCharacters }}
          </span>
        </div>
      } @else {
        <mat-progress-spinner color="primary" mode="indeterminate" />
      }
    </form>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div class="mt-2">
      <button mat-flat-button mat-dialog-close color="accent" class="me-2"><mat-icon>close</mat-icon> Cerrar</button>
      <aw-btn-loading
        [loading]="loadingForm"
        icon="save"
        btnText="Crear incidencia"
        (eventClick)="handleSubmit()"
        [disabled]="disabled" />
    </div>
  </mat-dialog-actions>
</div>
