<aw-view-base>
  <aw-view-header>Control de tiempos</aw-view-header>

  <aw-card>
    <aw-month-selector
      (changeMonthSelected)="handleDateSelected($event)"
      [dateSelected]="dateSelected"></aw-month-selector>

    <div class="d-flex mt-4">
      <!-- state -->
      <ng-container *ngIf="currentTimeControl()?.timeState === timeStates.open">
        <aw-dot-success></aw-dot-success>
        <span class="small text-muted">
          Tiempo iniciado: <strong>{{ currentTimeControl()?.start | datetimeFormat: "cccc t" }}</strong>
        </span>
      </ng-container>

      <ng-container *ngIf="currentTimeControl()?.timeState === timeStates.close">
        <aw-dot-danger></aw-dot-danger>
        <span class="small text-muted">El tiempo esta finalizado</span>
      </ng-container>
      <!-- end state -->

      <div class="ms-auto small text-muted">Tiempo total: {{ timeTotalInMonth }}</div>

      <!-- button state -->
      <div class="ms-auto justify-content-center">
        <ng-container *ngIf="currentTimeControl()?.timeState === timeStates.open">
          <aw-btn-loading
            (eventClick)="handleTimeFinished()"
            [loading]="loadingTimeState"
            btnIcon="fa-solid fa-flag-checkered"
            btnText="Finalizar"
            btnClass="btn btn-outline-warning"></aw-btn-loading>
        </ng-container>

        <ng-container *ngIf="currentTimeControl()?.timeState === timeStates.close">
          <aw-btn-loading
            (eventClick)="handleTimeStart()"
            [loading]="loadingTimeState"
            btnIcon="fa-solid fa-hourglass-start"
            btnText="Iniciar"
            btnClass="btn btn-success"></aw-btn-loading>
        </ng-container>
      </div>
      <!-- end button state -->
    </div>
  </aw-card>

  <div class="mt-2"></div>

  <!-- times -->
  <aw-card>
    <ng-container *ngFor="let progressStacked of progressStackedCollection">
      <ng-container *ngIf="!loadingData">
        <aw-progress-stacked [progressStackedCollection]="progressStacked"></aw-progress-stacked>
      </ng-container>

      <ng-container *ngIf="loadingData">
        <aw-spinner [loading]="loadingData" [size]="100"></aw-spinner>
      </ng-container>
    </ng-container>
  </aw-card>
  <!-- end times -->
</aw-view-base>
