<aw-view-base>
  <aw-card>
    <h3>Tarea - {{ companyTask()?.name }}</h3>
    <aw-breadcrumb [breadcrumb]="breadcrumb"></aw-breadcrumb>
  </aw-card>

  <div class="mt-2"></div>

  <aw-company-task-details [companyTaskId]="companyTaskId"></aw-company-task-details>

  <ng-container *ngIf="companyTaskId && companyTask()">
    <div class="mt-3">
      <aw-card>
        <div>
          <tabset>
            <tab heading="Usuarios" #tabUsers="tab">
              <aw-company-task-users *ngIf="tabUsers.active"></aw-company-task-users>
            </tab>
            <tab heading="Basic Title 1" #tabB="tab">
              <aw-company-task-users *ngIf="tabB.active"></aw-company-task-users>
            </tab>
            <tab heading="Basic Title 2" #tabC="tab">Basic content 2</tab>
          </tabset>
        </div>
      </aw-card>
    </div>
  </ng-container>
</aw-view-base>
