.arrow {
  position: relative;
  top: 1px;
  transition: all 0.3s ease-in-out;

  &.rotate {
    transform: rotate(180deg);
  }
}

.opacity3 {
  opacity: 0.3;
}

th {
  &.nowrap {
    white-space: nowrap;
  }
}
