<aw-page-base>
  <!-- header -->
  <aw-page-header [breadcrumb]="breadcrumb" />

  @if (employeeSelected()) {
    <aw-employee-details />

    <!-- tabs -->
    <mat-card class="mt-2">
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Control de tiempos">
            <ng-template matTabContent>
              <aw-employee-time-control-progress />
            </ng-template>
          </mat-tab>

          <mat-tab label="Departamentos">
            <ng-template matTabContent>
              <aw-employee-departments />
            </ng-template>
          </mat-tab>

          <mat-tab label="Tareas">
            <ng-template matTabContent>
              <aw-employee-tasks />
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  }
</aw-page-base>
