<aw-view-base cssContent="container">
  <aw-view-header [breadcrumb]="breadcrumb">Crear tarea</aw-view-header>

  <aw-card>
    <!-- form -->
    <form (ngSubmit)="handleSubmit()" [formGroup]="form">
      <aw-non-field-errors [badRequest]="badRequest"></aw-non-field-errors>

      <ng-container *ngIf="form.get('name')?.value">
        <div class="my-3">
          <aw-badge
            [background]="form.get('background')?.value"
            [color]="form.get('color')?.value"
            [name]="form.get('name')?.value"></aw-badge>
        </div>
      </ng-container>

      <!-- name -->
      <div class="mb-2">
        <aw-form-input
          [badRequest]="badRequest"
          [form]="form"
          [submitted]="submitted"
          fieldName="name"
          formControlName="name"
          label="Nombre">
        </aw-form-input>
      </div>
      <!-- end name -->

      <div class="d-flex">
        <!-- background -->
        <div class="mb-2">
          <aw-form-color
            [badRequest]="badRequest"
            [form]="form"
            [submitted]="submitted"
            fieldName="background"
            formControlName="background"
            label="Color de fondo">
          </aw-form-color>
        </div>
        <!-- end background -->

        <!-- color -->
        <div class="mb-2 ms-5">
          <aw-form-color
            [badRequest]="badRequest"
            [form]="form"
            [submitted]="submitted"
            fieldName="color"
            formControlName="color"
            label="Color de texto">
          </aw-form-color>
        </div>
        <!-- end color -->
      </div>

      <!-- buttons-->
      <aw-btn-loading
        [loading]="loading"
        btnClass="btn btn-success mt-2"
        btnText="Crear"
        btnIcon="fa-solid fa-list-check"></aw-btn-loading>

      <button [routerLink]="siteUrls.companyTasks.list" class="btn btn-primary mt-2 ms-2" type="button">
        <span class="fa-solid fa-chevron-left"></span> Volver
      </button>
      <!-- end buttons-->
    </form>
    <!-- end form -->
  </aw-card>
</aw-view-base>
