<aw-view-base cssContent="container">
  <aw-card>
    <h3>Invitar empleado</h3>
    <aw-breadcrumb [breadcrumb]="breadcrumb"></aw-breadcrumb>
  </aw-card>

  <div class="mt-2"></div>

  <aw-card>
    <!-- from-->
    <form (ngSubmit)="handleSubmit()" [formGroup]="form">
      <aw-non-field-errors [badRequest]="badRequest"></aw-non-field-errors>

      <!-- firstName -->
      <div class="mb-2">
        <aw-form-input
          [badRequest]="badRequest"
          [form]="form"
          [submitted]="submitted"
          fieldName="firstName"
          formControlName="firstName"
          label="Nombre">
        </aw-form-input>
      </div>
      <!-- end firstName -->

      <!-- lastName -->
      <div class="mb-2">
        <aw-form-input
          [badRequest]="badRequest"
          [form]="form"
          [submitted]="submitted"
          fieldName="lastName"
          formControlName="lastName"
          label="Apellidos">
        </aw-form-input>
      </div>
      <!-- end lastName -->

      <!-- email -->
      <div class="mb-2">
        <aw-form-input
          [badRequest]="badRequest"
          [form]="form"
          [submitted]="submitted"
          [inputType]="formInputTypes.email"
          fieldName="email"
          formControlName="email"
          label="Email">
        </aw-form-input>
      </div>
      <!-- end email -->

      <!-- buttons-->
      <aw-btn-loading
        [loading]="loading"
        btnClass="btn btn-success mt-2"
        btnText="Invitar"
        btnIcon="fas fa-user-plus"></aw-btn-loading>

      <button [routerLink]="siteUrls.employees.list" class="btn btn-primary mt-2 ms-2" type="button">
        <span class="fa-solid fa-chevron-left"></span> Volver
      </button>
      <!-- end buttons-->
    </form>
    <!-- end from-->
  </aw-card>
</aw-view-base>
