<aw-view-base>
  <aw-view-header [breadcrumb]="breadcrumb">Editar Configuración</aw-view-header>

  <aw-card>
    <form (ngSubmit)="handleSubmit()" [formGroup]="form">
      <div class="mb-2">
        <!-- maximumDailyWorkHours -->
        <aw-form-input
          [badRequest]="badRequest"
          [form]="form"
          [submitted]="submitted"
          [inputType]="formInputTypes.integer"
          fieldName="maximumDailyWorkHours"
          formControlName="maximumDailyWorkHours"
          label="Horas diarias de trabajo" />

        <span class="small text-muted">Horas máximas al día continuadas por los empleados</span>
        <!-- end maximumDailyWorkHours -->

        <div class="mt-4">
          <!-- weeklyWorkingHours -->
          <aw-form-input
            [badRequest]="badRequest"
            [form]="form"
            [submitted]="submitted"
            [inputType]="formInputTypes.integer"
            fieldName="weeklyWorkingHours"
            formControlName="weeklyWorkingHours"
            label="Horas de trabajo semanal" />
          <!-- end weeklyWorkingHours -->
        </div>

        <div class="mt-4">
          <!-- timezone -->
          <aw-form-timezone
            [badRequest]="badRequest"
            [form]="form"
            [submitted]="submitted"
            fieldName="timezone"
            formControlName="timezone"
            label="Zona horaria" />

          <!-- comparación de horas. -->
          @if (nowWithOriginalTimezone) {
            <span class="text-muted small">
              Hora actual seleccionada: <strong>{{ nowWithOriginalTimezone }}</strong>
            </span>
          }

          @if (nowWithTimezoneSelected) {
            <span class="text-muted small">
              - Nueva hora seleccionada: <strong>{{ nowWithTimezoneSelected }}</strong>
            </span>
          }
          <!-- end comparación de horas. -->
          <!-- timezone -->
        </div>

        <div class="mt-4">
          <!-- geolocationRequired -->
          <aw-form-checkbox
            [badRequest]="badRequest"
            [form]="form"
            [submitted]="submitted"
            fieldName="geolocationRequired"
            formControlName="geolocationRequired"
            label="Geolocalización requerida" />

          <span class="small text-muted">
            El empleado deberá aceptar Geolocalización desde el navegador o no podrá iniciar/finalizar tiempos
          </span>
        </div>
        <!-- end geolocationRequired -->
      </div>

      <!-- buttons-->
      <div class="mt-4">
        <aw-btn-back cssClass="me-2 btn btn-primary" />

        <aw-btn-loading
          [loading]="loadingForm"
          btnClass="btn btn-success"
          btnIcon="fa-solid fa-screwdriver-wrench"
          btnText="Actualizar" />
      </div>
      <!-- end buttons-->
    </form>
  </aw-card>
</aw-view-base>
