<div class="mb-2 ms-1">{{ label() }}</div>
<!-- date -->
<mat-form-field>
  <mat-label>Fecha</mat-label>
  <input
    matInput
    (ngModelChange)="onChangeValue($event)"
    [(ngModel)]="value"
    [disabled]="isDisabled"
    [matDatepicker]="picker"
    [id]="id()"
    [placeholder]="placeholder()"
    [value]="value"
    [readonly]="readonly()" />
  <mat-datepicker-toggle matIconSuffix (focusout)="handleChangeDateTime()" [for]="picker" />
  <mat-datepicker #picker />
</mat-form-field>

<div class="d-flex justify-content-start">
  <!-- hour -->
  <mat-form-field class="time">
    <mat-label>HH</mat-label>
    <input
      matInput
      class="time"
      type="text"
      minlength="2"
      maxlength="2"
      [(ngModel)]="hourValue"
      [disabled]="isDisabled"
      [pattern]="patternFieldHour"
      (focusout)="handleChangeDateTime()"
      [readonly]="readonly()" />
  </mat-form-field>

  <span class="time-separator">&nbsp;:&nbsp;</span>

  <!-- Minutes -->
  <mat-form-field class="time">
    <mat-label>MM</mat-label>
    <input
      matInput
      class="time"
      type="text"
      minlength="2"
      maxlength="2"
      [(ngModel)]="minutesValue"
      [disabled]="isDisabled"
      [pattern]="patternFieldMinutes"
      (focusout)="handleChangeDateTime()"
      [readonly]="readonly()" />
  </mat-form-field>
</div>

<div class="d-flex justify-content-center mt-4">
  @if (form()) {
    <br />
    <aw-field-error
      [badRequest]="badRequest()"
      [fieldName]="fieldName()"
      [fieldText]="label()"
      [form]="form()"
      [submitted]="submitted()" />
  }
</div>
