<aw-page-base>
  <aw-page-header [breadcrumb]="breadcrumb">Actualizar tiempo</aw-page-header>

  <mat-card>
    <mat-card-content>
      @if (timeControl && !loadingForm) {
        <form (ngSubmit)="handleSubmit()" [formGroup]="form">
          @if (timeControl.incidence) {
            <div>
              <h3 class="text-danger">Incidencia</h3>
              <div class="alert alert-warning">
                {{ timeControl.incidenceDescription }}
              </div>
            </div>

            <!-- closeIncidence -->
            <div class="mb-3">
              <aw-form-checkbox
                [badRequest]="badRequest"
                [form]="form"
                [submitted]="submitted"
                fieldName="closeIncidence"
                formControlName="closeIncidence"
                label="Cerrar incidencia" />
            </div>
          }

          <div class="d-flex justify-content-center flex-wrap">
            <!-- timeStart -->
            <aw-form-datetime-picker
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              fieldName="start"
              formControlName="start"
              label="Inicio"
              class="me-4" />

            <!-- timeFinish -->
            <aw-form-datetime-picker
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              fieldName="finish"
              formControlName="finish"
              label="Final" />
          </div>

          <mat-divider class="mt-2" />

          <!-- buttons -->
          <div class="mt-4">
            <aw-btn-back class="me-2" />
            <aw-btn-loading [btnType]="btnType.submit" [loading]="loadingForm" icon="save" btnText="Guardar" />
          </div>
        </form>
      } @else {
        <mat-progress-spinner color="primary" mode="indeterminate" />
      }
    </mat-card-content>
  </mat-card>
</aw-page-base>
