<aw-page-base>
  <aw-page-header [breadcrumb]="breadcrumb">Actualizar tiempo</aw-page-header>

  @if (timeControl && !loadingForm) {
    <form (ngSubmit)="handleSubmit()" [formGroup]="form">
      @if (timeControl.incidence) {
        <!-- closeIncidence -->
        <aw-card extraCss="mb-2">
          <div class="row">
            <div class="col-12">
              <h6>Incidencia</h6>
              <div class="alert alert-warning nl2br">{{ timeControl.incidenceDescription }}</div>
            </div>

            <div class="col-12">
              <aw-form-checkbox
                [badRequest]="badRequest"
                [form]="form"
                [submitted]="submitted"
                fieldName="closeIncidence"
                formControlName="closeIncidence"
                label="Cerrar incidencia" />
            </div>
          </div>
        </aw-card>
        <!-- end closeIncidence -->
      }

      <aw-card>
        <div class="row">
          <!-- timeStart -->
          <div class="col-6">
            <aw-form-datepicker
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              fieldName="dateStart"
              formControlName="dateStart"
              label="Inicio" />

            <div class="mt-3"></div>

            <aw-form-timepicker
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              fieldName="timeStart"
              formControlName="timeStart"
              label="" />
          </div>
          <!-- end timeStart -->

          <!-- timeFinish -->
          <div class="col-6">
            <aw-form-datepicker
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              fieldName="dateFinish"
              formControlName="dateFinish"
              label="Final" />

            <div class="mt-3"></div>

            <aw-form-timepicker
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              fieldName="timeFinish"
              formControlName="timeFinish"
              label="" />
          </div>
          <!-- end timeFinish -->

          <div class="mt-3 col-12">
            <aw-btn-back />

            <aw-btn-loading
              [btnType]="btnType.submit"
              [loading]="loadingForm"
              btnClass="btn btn-success ms-2"
              btnIcon="fa-regular fa-floppy-disk"
              btnText="Guardar"
              spinnerLoadingText="Guardando" />
          </div>
        </div>
      </aw-card>
    </form>
  } @else {
    <aw-spinner [loading]="loadingForm" />
  }
</aw-page-base>
