<aw-page-base>
  <aw-page-header [breadcrumb]="breadcrumb">Invitar empleado</aw-page-header>

  <mat-card>
    <mat-card-content>
      <!-- from-->
      <form (ngSubmit)="handleSubmit()" [formGroup]="form">
        <aw-non-field-errors [badRequest]="badRequest" />

        <!-- firstName -->
        <div class="mb-2">
          <aw-form-input
            [badRequest]="badRequest"
            [form]="form"
            [submitted]="submitted"
            fieldName="firstName"
            formControlName="firstName"
            label="Nombre" />
        </div>

        <!-- lastName -->
        <div class="mb-2">
          <aw-form-input
            [badRequest]="badRequest"
            [form]="form"
            [submitted]="submitted"
            fieldName="lastName"
            formControlName="lastName"
            label="Apellidos" />
        </div>

        <!-- email -->
        <div class="mb-2">
          <aw-form-input
            [badRequest]="badRequest"
            [formInputType]="formInputType.Email"
            [form]="form"
            [submitted]="submitted"
            fieldName="email"
            formControlName="email"
            label="Email" />
        </div>

        <!-- timezone -->
        <div class="mb-2">
          <aw-form-timezone
            [badRequest]="badRequest"
            [form]="form"
            [submitted]="submitted"
            fieldName="timezone"
            formControlName="timezone"
            label="Zona horaria" />
        </div>

        <!-- buttons-->
        <aw-btn-back class="me-2" />

        <aw-btn-loading [loading]="loading" btnText="Invitar" icon="add" />
      </form>
    </mat-card-content>
  </mat-card>
</aw-page-base>
