@use "@angular/material" as mat;
@use "./typography/config" as config;

$light-primary: mat.define-palette(mat.$blue-palette, 700, A100, A400);
$light-accent: mat.define-palette(mat.$teal-palette, 500);
$light-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn
    ),
    typography: config.$my-app-typography
  )
);

@include mat.all-component-themes($light-theme);

.light-theme {
  $primary-color: mat.get-theme-color($light-theme, primary, default);
  $accent-color: mat.get-theme-color($light-theme, accent, default);
  $warn-color: mat.get-theme-color($light-theme, warn, default);

  --aw-primary: #{$primary-color};
  --aw-accent: #{$accent-color};
  --aw-warn: #{$warn-color};

  // Color fondo secundario.
  --aw-background-secondary: rgba(136, 136, 136, 0.2);
}
