<div class="form-group">
  <input
    (ngModelChange)="onChangeValue($event)"
    [(ngModel)]="value"
    [checked]="value"
    [disabled]="isDisabled"
    [id]="id"
    [ngClass]="{ extraCss: true, 'is-invalid': isInvalid() }"
    [value]="value"
    class="form-check-input"
    role="switch"
    type="checkbox" />

  @if (label) {
    <label [for]="id" class="form-check-label">
      {{ label }}
    </label>
  }

  @if (form) {
    <aw-field-error
      [badRequest]="badRequest"
      [fieldName]="fieldName"
      [fieldText]="label"
      [form]="form"
      [submitted]="submitted" />
  }
</div>
