<div [ngClass]="{ 'table-responsive': tableResponsive }">
  <table [ngClass]="tableCss" class="table">
    <!-- sonarLint -->
    <caption></caption>
    <thead>
      <th></th>
    </thead>
    <!-- end sonarLint -->

    <ng-content select="[awThead]" />

    @if (apiResult && !loading) {
      <!-- table content -->
      @if (apiResult.items.length) {
        <ng-content select="[awTbody]" />
      }
      <!-- end table content -->
      <!-- no data -->
      @if (!apiResult.items.length) {
        <tbody>
          <tr>
            <td class="text-center" colspan="100%">
              <h6>No hay datos para mostrar</h6>
            </td>
          </tr>
        </tbody>
      }
      <!-- end no data -->
    }

    <!-- spinner loading data -->
    @if (showSpinnerLoading && loading) {
      <tbody>
        <tr>
          <td class="text-center" colspan="100%">
            <aw-spinner [loading]="loading" [size]="100" />
          </td>
        </tr>
      </tbody>
    }
    <!-- end spinner loading data -->

    <ng-content select="[awTfoot]" />
  </table>
</div>
