<div [ngClass]="{ 'table-responsive': tableResponsive }">
  <table [ngClass]="tableCss" class="table">
    <!-- sonarLint -->
    <caption></caption>
    <thead>
      <th></th>
    </thead>
    <!-- end sonarLint -->

    <ng-content select="[awThead]" />

    <ng-container *ngIf="apiResult && !loading">
      <!-- table content -->
      <ng-container *ngIf="apiResult.items.length">
        <ng-content select="[awTbody]" />
      </ng-container>
      <!-- end table content -->

      <!-- no data -->
      <ng-container *ngIf="!apiResult.items.length">
        <tbody>
          <tr>
            <td class="text-center" colspan="100%">
              <h6>No hay datos para mostrar</h6>
            </td>
          </tr>
        </tbody>
      </ng-container>
      <!-- end no data -->
    </ng-container>

    <!-- spinner loading data -->
    <ng-container *ngIf="showSpinnerLoading && loading">
      <tbody>
        <tr>
          <td class="text-center" colspan="100%">
            <aw-spinner [loading]="loading" [size]="100" />
          </td>
        </tr>
      </tbody>
    </ng-container>
    <!-- end spinner loading data -->

    <ng-content select="[awTfoot]" />
  </table>
</div>
