<aw-page-simple>
  <div class="recovery-password-change">
    <form (ngSubmit)="handleSubmit()" [formGroup]="form" class="form">
      <mat-card class="mat-elevation-z3 p-4">
        <mat-card-header>
          <mat-card-title class="title">
            <h1>Restablecer contraseña</h1>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          @if (!hasRequiredData) {
            <div class="alert alert-danger mb-4">
              Faltan datos requeridos o ha expirado el tiempo de recuperación de la contraseña.
            </div>
          }

          <aw-non-field-errors [badRequest]="badRequest" />

          <!-- password -->
          <aw-form-input
            [badRequest]="badRequest"
            [form]="form"
            [submitted]="submitted"
            [formInputType]="formInputType.Password"
            fieldName="password"
            formControlName="password"
            label="Contraseña"
            icon="lock" />

          <!-- confirmPassword -->
          <aw-form-input
            [badRequest]="badRequest"
            [form]="form"
            [submitted]="submitted"
            [formInputType]="formInputType.Password"
            fieldName="confirmPassword"
            formControlName="confirmPassword"
            label="Repetir nueva contraseña"
            icon="lock" />

          <mat-divider />
        </mat-card-content>

        <mat-card-footer>
          <aw-btn-loading [loading]="loading" btnText="Restablecer contraseña" />
          <button mat-stroked-button type="button" class="ms-2" [routerLink]="[siteUrl.auth.login]">
            Identificarse
          </button>
        </mat-card-footer>
      </mat-card>
    </form>
  </div>
</aw-page-simple>
