@import "variables";

.recovery-password-change {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

  .form {
    min-width: 500px;

    .title {
      text-align: center;
    }
  }
}
