<aw-view-base [footerState]="false" [navbarState]="false" [sidebarState]="false">
  <div class="form-recovery-password w-100 m-auto mt-5">
    <aw-card extraCss="p-4">
      <form (ngSubmit)="handleSubmit()" [formGroup]="form">
        <h1 class="h3 mb-3 fw-normal"><span class="fa-solid fa-lock"></span> Recuperar contraseña</h1>
        <hr />

        <aw-non-field-errors [badRequest]="badRequest"></aw-non-field-errors>

        <ng-container *ngIf="hasResponse">
          <div class="alert alert-success">
            Se ha enviado un correo para restablecer la contraseña. Siga las indicaciones desde su correo.
          </div>
        </ng-container>

        <!-- email -->
        <div class="mb-2">
          <aw-form-floating
            [badRequest]="badRequest"
            [form]="form"
            [submitted]="submitted"
            [inputType]="formInputTypes.email"
            fieldName="email"
            formControlName="email"
            label="Correo electrónico">
          </aw-form-floating>
        </div>
        <!-- end email -->

        <a [routerLink]="[siteUrls.auth.login]" class="small">Identificarse</a>

        <aw-btn-loading
          [loading]="loading"
          btnClass="w-100 btn btn-lg btn-primary mt-2"
          btnText="Recuperar contraseña"></aw-btn-loading>
      </form>
    </aw-card>
  </div>
</aw-view-base>
