<aw-page-base>
  <aw-page-header [breadcrumb]="breadcrumb" />

  <!-- seleccionar empleado -->
  <mat-card>
    <mat-card-content>
      @if (!employeeSelected()) {
        <aw-time-control-select-employee />
      }
    </mat-card-content>
  </mat-card>

  <!-- seleccionar tiempos -->
  @if (employeeSelected()) {
    <mat-card>
      <mat-card-content>
        <div class="d-flex justify-content-center">
          <button mat-stroked-button color="primary" (click)="handleSelectEmployee()" class="btn btn-outline-primary">
            Seleccionar empleado
          </button>
        </div>

        <h3>
          {{ employeeSelected()?.firstName }} {{ employeeSelected()?.lastName }} &lt;{{ employeeSelected()?.email }}&gt;
        </h3>
      </mat-card-content>
    </mat-card>

    <div class="mt-2"></div>

    <mat-card>
      <mat-card-content>
        <aw-time-control-record-create-form />
      </mat-card-content>
    </mat-card>
  }
</aw-page-base>
