<aw-view-base>
  <aw-view-header [breadcrumb]="breadcrumb">Lista de tarea</aw-view-header>

  <aw-card>
    <!-- toolbar -->
    <div class="d-flex mb-2">
      <span class="me-auto">
        <a [routerLink]="siteUrls.companyTasks.create" class="btn btn-sm btn-outline-success">
          <span class="fa-solid fa-list-check"></span> Crear tarea
        </a>
      </span>

      <span>
        <aw-table-input-search
          (clickClean)="handleClickClean($event)"
          [apiResult]="apiResult"
          [tableHeaderConfig]="tableHeaderConfig" />
      </span>
    </div>
    <!-- end toolbar -->

    <!-- table -->
    <aw-table [apiResult]="apiResult" [loading]="loading">
      <thead awThead>
        <tr
          (clickOrdering)="handleReloadData()"
          [apiResult]="apiResult"
          [tableHeaderConfig]="tableHeaderConfig"
        awTableHeader></tr>
      </thead>

      @if (apiResult) {
        <tbody awTbody>
          @for (task of apiResult.items; track task) {
            <tr (click)="handleSelectItem(task)" class="cursor-pointer">
              <td>
                <aw-badge [background]="task.background" [color]="task.color" [name]="task.name"></aw-badge>
              </td>
              <td>{{ task.created | datetime: dateShort }}</td>
              <td [innerHTML]="task.active | boolToIcon"></td>
              <td>
                <aw-dot [color]="task.background"></aw-dot>
              </td>
              <td>
                <aw-dot [color]="task.color"></aw-dot>
              </td>
            </tr>
          }
        </tbody>
      }
    </aw-table>
    <!-- end table -->

    <!-- pagination -->
    @if (apiResult) {
      <aw-pagination
        (changePage)="handleReloadData()"
        (changePageListNumber)="handleReloadData()"
        [apiResult]="apiResult" />
    }
    <!-- end pagination -->
  </aw-card>
</aw-view-base>
