<aw-view-base [showFooter]="false" [showNavbar]="false" [showSidebar]="false">
  <div class="form-remember-password w-100 m-auto mt-5">
    <aw-card extraCss="p-4">
      <form (ngSubmit)="handleSubmit()" [formGroup]="form">
        <h1 class="h3 mb-3 fw-normal"><span class="fa-solid fa-user"></span>Recuperar contraseña</h1>
        <hr />

        <aw-non-field-errors [badRequest]="badRequest"></aw-non-field-errors>

        <!-- email -->
        <div class="mb-2">
          <aw-form-floating
            [badRequest]="badRequest"
            [form]="form"
            [submitted]="submitted"
            fieldName="email"
            formControlName="email"
            label="Email">
          </aw-form-floating>
        </div>
        <!-- end email -->

        <a [routerLink]="[siteUrls.login]" class="small">Identificarse</a>

        <aw-btn-loading
          [loading]="loading"
          btnClass="w-100 btn btn-lg btn-primary mt-2"
          btnText="Recuperar contraseña"></aw-btn-loading>
      </form>
    </aw-card>
  </div>
</aw-view-base>
