<aw-page-simple>
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center vh-100">
      <div class="col-lg-6 m-auto text-center shadow-sm">
        <h1 class="text-danger">Forbidden</h1>
      </div>

      <div class="col-12 text-center">
        <aw-btn-back />

        <button [routerLink]="siteUrl.home" class="btn btn-primary ms-2">
          <span class="icon fas fa-home"></span> Inicio
        </button>
      </div>
    </div>
  </div>
</aw-page-simple>
