<aw-card>
  <table class="table table-striped table-borderless">
    <!-- sonarLint -->
    <caption></caption>
    <thead>
      <th></th>
    </thead>
    <!-- end sonarLint -->

    <!-- data company task -->
    <ng-container *ngIf="companyTask() && !companyTaskLoading()">
      <tbody>
        <tr>
          <td>Nombre</td>
          <td>{{ companyTask()?.name }}</td>
        </tr>
        <tr>
          <td>Fecha de creación</td>
          <td>{{ companyTask()?.created | datetime: dateShort }}</td>
        </tr>
        <tr>
          <td>Activa</td>
          <td>
            <span class="d-flex">
              <span [innerHTML]="companyTask()?.active | boolToIcon"></span>
              <span class="ms-auto">
                <ng-container *ngIf="companyTask()?.active">
                  <aw-btn-loading
                    (click)="handleDeactivateTask()"
                    [loading]="loadingStateTask"
                    btnClass="btn btn-sm btn-outline-danger"
                    btnText="Desactivar"></aw-btn-loading>
                </ng-container>

                <ng-container *ngIf="!companyTask()?.active">
                  <aw-btn-loading
                    (click)="handleActivateTask()"
                    [loading]="loadingStateTask"
                    btnClass="btn btn-sm btn-outline-success"
                    btnText="Activar"></aw-btn-loading>
                </ng-container>
              </span>
            </span>
          </td>
        </tr>
      </tbody>
    </ng-container>
    <!-- end data company task -->
  </table>
</aw-card>
