<mat-card>
  <mat-card-content>
    <!-- data department -->
    <table class="table-list">
      <tbody>
        @if (departmentSelected() && !departmentSelectedLoading()) {
          <tr class="table-list-row">
            <td>Nombre</td>
            <td>
              <aw-badge [background]="departmentSelected()?.background" [color]="departmentSelected()?.color">
                {{ departmentSelected()?.name }}
              </aw-badge>
            </td>
          </tr>
          <tr class="table-list-row">
            <td>Activo</td>
            <td>
              <span [innerHTML]="departmentSelected()?.active | boolToIcon"></span>
            </td>
          </tr>
        }
      </tbody>
    </table>

    <!-- spinner -->
    @if (departmentSelectedLoading()) {
      <div class="d-flex justify-content-center p-5">
        <mat-progress-spinner color="primary" mode="indeterminate" />
      </div>
    }

    <mat-divider />

    <!-- buttons -->
    <div class="mt-2">
      <aw-btn-back class="me-2" />
      <button mat-flat-button color="primary" class="me-2" [routerLink]="urlToEdit">
        <mat-icon>edit</mat-icon> Editar
      </button>

      @if (departmentSelected()?.active) {
        <aw-btn-loading
          color="warn"
          btnText="Desactivar"
          icon="toggle_off"
          (click)="handleDeactivateDepartment()"
          [loading]="loadingDepartmentState" />
      } @else {
        <aw-btn-loading
          color="primary"
          btnText="Activar"
          icon="toggle_on"
          (click)="handleActivateDepartment()"
          [loading]="loadingDepartmentState" />
      }
    </div>
  </mat-card-content>
</mat-card>
