@if (workingDaysWeek() && !loadingWorkingDaysWeek()) {
  <mat-button-toggle-group name="weekDay" aria-label="Días de trabajo semanal" multiple class="button-toggle-group">
    <mat-button-toggle
      (click)="handleClickDay(weekDay.Monday)"
      [value]="weekDay.Monday"
      [checked]="workingDaysWeek()?.monday">
      Lunes
    </mat-button-toggle>
    <mat-button-toggle
      (click)="handleClickDay(weekDay.Tuesday)"
      [value]="weekDay.Tuesday"
      [checked]="workingDaysWeek()?.tuesday">
      Martes
    </mat-button-toggle>
    <mat-button-toggle
      (click)="handleClickDay(weekDay.Wednesday)"
      [value]="weekDay.Wednesday"
      [checked]="workingDaysWeek()?.wednesday">
      Miércoles
    </mat-button-toggle>
    <mat-button-toggle
      (click)="handleClickDay(weekDay.Thursday)"
      [value]="weekDay.Thursday"
      [checked]="workingDaysWeek()?.thursday">
      Jueves
    </mat-button-toggle>
    <mat-button-toggle
      (click)="handleClickDay(weekDay.Friday)"
      [value]="weekDay.Friday"
      [checked]="workingDaysWeek()?.friday">
      Viernes
    </mat-button-toggle>
    <mat-button-toggle
      (click)="handleClickDay(weekDay.Saturday)"
      [value]="weekDay.Saturday"
      [checked]="workingDaysWeek()?.saturday">
      Sábado
    </mat-button-toggle>
    <mat-button-toggle
      (click)="handleClickDay(weekDay.Sunday)"
      [value]="weekDay.Sunday"
      [checked]="workingDaysWeek()?.sunday">
      Domingo
    </mat-button-toggle>
  </mat-button-toggle-group>
} @else {
  <div class="d-flex justify-content-center">
    <mat-spinner [diameter]="24" />
  </div>
}
