<aw-view-base>
  <aw-view-header [breadcrumb]="breadcrumb">Configuración de empleado</aw-view-header>

  <aw-card>
    <a [routerLink]="[siteUrls.employees.settingsEdit]" class="mb-3 btn btn-sm btn-outline-success">
      <span class="fa-solid fa-pencil"></span> Editar
    </a>

    <table class="table table-striped table-borderless">
      <caption></caption>
      <thead>
        <!-- details -->
        @if (!loadingEmployeeSettings()) {
          <tr>
            <th>
              Zona horaria
              <aw-tooltip-info content="Los tiempos se vera en base a la zona horaria" cssClass="text-info" />
            </th>
            <td>{{ employeeSettings()?.timezone }} - {{ nowWithTimezone }}</td>
          </tr>
        }
        <!-- end details -->

        <!-- spinner -->
        <aw-table-loading [loading]="loadingEmployeeSettings()" />
        <!-- end spinner -->
      </thead>
    </table>
  </aw-card>
</aw-view-base>
