<aw-view-base>
  <aw-view-header [breadcrumb]="breadcrumb">Actualizar tiempo</aw-view-header>

  <aw-card>
    @if (timeControl) {
      @if (timeControl.incidence) {
        <div>
          <h6>Tiempo con incidencia</h6>
          <div class="alert alert-warning nl2br">{{ timeControl.incidenceDescription }}</div>
        </div>
      }

      <form (ngSubmit)="handleSubmit()" [formGroup]="form">
        <div class="mb-2 row">
          <!-- timeStart -->
          <div class="col-6">
            <aw-form-datepicker
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              fieldName="dateStart"
              formControlName="dateStart"
              label="Inicio" />

            <div class="mt-3"></div>

            <aw-form-timepicker
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              fieldName="timeStart"
              formControlName="timeStart"
              label="" />
          </div>
          <!-- end timeStart -->

          <!-- timeFinish -->
          <div class="col-6">
            <aw-form-datepicker
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              fieldName="dateFinish"
              formControlName="dateFinish"
              label="Final" />

            <div class="mt-3"></div>

            <aw-form-timepicker
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              fieldName="timeFinish"
              formControlName="timeFinish"
              label="" />
          </div>
          <!-- end timeFinish -->

          <!-- closeIncidence -->
          @if (timeControl.incidence) {
            <div class="row mt-2">
              <div class="col">
                <aw-form-checkbox
                  [badRequest]="badRequest"
                  [form]="form"
                  [submitted]="submitted"
                  fieldName="closeIncidence"
                  formControlName="closeIncidence"
                  label="Cerrar incidencia" />
              </div>
            </div>
          }
          <!-- end closeIncidence -->

          <div class="mt-3 col-12">
            <aw-btn-back />

            <aw-btn-loading
              [btnType]="btnType.submit"
              [loading]="loadingForm"
              btnClass="btn btn-success ms-2"
              btnIcon="fa-regular fa-floppy-disk"
              btnText="Guardar"
              spinnerLoadingText="Guardando" />
          </div>
        </div>
      </form>
    }
  </aw-card>
</aw-view-base>
