@import "variables-local";

.page-wrapper {
  height: 100vh;

  .page-content {
    margin-top: $navbar-margin-top;
    display: inline-block;
    width: 100%;
    transition: padding-left 0.3s ease;
    height: 100vh;

    @media screen and (min-width: 768px) {
      padding-left: 260px;
    }
  }

  &.toggled {
    .page-content {
      padding-left: 0;
    }
  }
}
