<!-- title -->
<ng-container *ngIf="showPageTitle">
  <aw-view-title [pageTitle]="pageTitle" />
</ng-container>
<!-- end title -->

<div [ngClass]="{ toggled: !sidebarState$() }" class="page-wrapper">
  <!-- sidebar -->
  <ng-container *ngIf="sidebarState$()">
    <aw-sidebar />
  </ng-container>
  <!-- end sidebar -->

  <main class="page-content">
    <!-- navbar -->
    <ng-container *ngIf="navbarState$()">
      <aw-navbar />
    </ng-container>
    <!-- end navbar -->

    <!-- page content -->
    <div [ngClass]="cssContent" class="main-content pt-2 fade-in-fast">
      <ng-content />
    </div>
    <!-- end page content -->

    <!-- footer -->
    <ng-container *ngIf="footerState$()">
      <aw-footer [cssContent]="cssContent" />
    </ng-container>
    <!-- end footer -->
  </main>
</div>
