<!-- title -->
<ng-container *ngIf="showPageTitle">
  <aw-view-title [pageTitle]="pageTitle"></aw-view-title>
</ng-container>
<!-- end title -->

<div class="page-wrapper" [ngClass]="{ toggled: !sidebarState$() }">
  <!-- sidebar -->
  <ng-container *ngIf="sidebarState$()">
    <aw-sidebar></aw-sidebar>
  </ng-container>
  <!-- end sidebar -->

  <main class="page-content">
    <!-- navbar -->
    <ng-container *ngIf="navbarState$()">
      <aw-navbar></aw-navbar>
    </ng-container>
    <!-- end navbar -->

    <!-- page content -->
    <div [ngClass]="cssContent" class="pt-4 fade-in-fast">
      <ng-content></ng-content>
    </div>
    <!-- end page content -->
  </main>

  <!-- footer -->
  <ng-container *ngIf="footerState$()">
    <aw-footer [cssContent]="cssContent"></aw-footer>
  </ng-container>
  <!-- end footer -->
</div>
