<!-- title -->
@if (showPageTitle) {
  <aw-view-title [pageTitle]="pageTitle" />
}
<!-- end title -->

<div [ngClass]="{ toggled: !sidebarMenuState$() }" class="page-wrapper">
  <!-- sidebar -->
  @if (sidebarMenuState$()) {
    <aw-sidebar />
  }
  <!-- end sidebar -->

  <main class="page-content">
    <!-- navbar -->
    @if (navbarState$()) {
      <aw-navbar />
    }
    <!-- end navbar -->

    <!-- page content -->
    <div [ngClass]="cssContent" class="main-content pt-2 fade-in-fast">
      <ng-content />
    </div>
    <!-- end page content -->

    <!-- footer -->
    @if (footerState$()) {
      <aw-footer [cssContent]="cssContent" />
    }
    <!-- end footer -->
  </main>
</div>
