@if ((submitted && formHasErrors()) || controlHasErrors() || getBadRequestErrors()) {
  <div class="small text-danger mt-1 pl-1">
    <!-- Errores Angular. -->
    <span>
      @if (getControlErrorByErrorName("required")) {
        <div>Campo requerido.</div>
      }

      @if (getControlErrorByErrorName("email")) {
        <div>Campo email no valido.</div>
      }

      @if (getControlErrorByErrorName("noPasswordMatch")) {
        <div>Las contraseñas no coinciden.</div>
      }

      @if (getControlErrorByErrorName("startGreaterThanFinish")) {
        <div>La fecha de inicio no puede ser mayor a la fecha final.</div>
      }

      @if (getControlErrorByErrorName("noFutureDate")) {
        <div>La fecha ha de ser menor o igual a hoy.</div>
      }
    </span>

    <!-- errores obtenidos del backend. -->
    @if (getBadRequestErrors()) {
      <div>
        @for (error of getBadRequestErrors(); track error) {
          <div>{{ error }}</div>
        }
      </div>
    }
    <!-- end errores obtenidos del backend. -->
  </div>
}
