<aw-card>
  <table class="table table-striped table-borderless">
    <!-- sonarLint -->
    <caption></caption>
    <thead>
      <th></th>
    </thead>
    <!-- end sonarLint -->

    <!-- data employee-->
    @if (employeeSelected() && !loadingEmployee()) {
      <tbody>
        <tr>
          <td>Nombre</td>
          <td>{{ employeeSelected()?.firstName }}</td>
        </tr>
        <tr>
          <td>Apellidos</td>
          <td>{{ employeeSelected()?.lastName }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ employeeSelected()?.email }}</td>
        </tr>
        <tr>
          <td>Teléfono</td>
          <td>{{ employeeSelected()?.phoneNumber }}</td>
        </tr>
        <tr>
          <td>Cuenta activa</td>
          <td>
            <span class="d-flex">
              <span>
                <span [innerHTML]="employeeSelected()?.active | boolToIcon"></span>
              </span>
              <!-- activar o desactivar cuenta -->
              @if (canUpdateStates) {
                <span class="ms-auto">
                  @if (employeeSelected()?.active) {
                    <aw-btn-loading
                      (click)="handleDeactivateEmployee()"
                      [loading]="loadingUpdateActive"
                      btnClass="btn btn-sm btn-outline-danger ms-4"
                      btnText="Desactivar cuenta" />
                  }
                  @if (!employeeSelected()?.active) {
                    <aw-btn-loading
                      (click)="handleActivateEmployee()"
                      [loading]="loadingUpdateActive"
                      btnClass="btn btn-sm btn-outline-success ms-4"
                      btnText="Activar cuenta" />
                  }
                </span>
              }
              <!-- end activar o desactivar cuenta -->
            </span>
          </td>
        </tr>
        <tr>
          <td>Invitación aceptada</td>
          <td>
            <span [innerHTML]="employeeSelected()?.emailConfirmed | boolToIcon"></span>
          </td>
        </tr>
        <tr>
          <td>Fecha de ingreso</td>
          <td>{{ employeeSelected()?.entryDate | datetime: dateShort }}</td>
        </tr>
        <tr>
          <td>Roles</td>
          <td>
            <span class="d-flex">
              <span>
                @if (!loadingEmployeeRoles()) {
                  @for (role of employeeSelectedRoles(); track role) {
                    <span class="badge rounded-pill bg-success ms-1">
                      {{ roleToHumanReadable(role.name) }}
                    </span>
                  }
                }
                @if (loadingEmployeeRoles()) {
                  <aw-spinner [loading]="loadingEmployeeRoles()" />
                }
              </span>
              <!-- edit roles -->
              @if (currentEmployeeId !== employeeSelected()?.id) {
                <span [awRequiredRole]="roles.enterpriseStaff" class="ms-auto">
                  <button (click)="handleRolesModalEdit()" class="btn btn-sm btn-outline-warning">Editar roles</button>
                </span>
              }
              <!-- end edit roles -->
            </span>
          </td>
        </tr>
        <tr>
          <td>Estado control de tiempos</td>
          <td>
            @if (employeeTimeControlState()?.timeState === timeStates.open) {
              <aw-dot-success />
              {{ employeeTimeControlState()?.start | datetime }}
            }
            @if (employeeTimeControlState()?.timeState === timeStates.close) {
              <aw-dot-danger />
            }
          </td>
        </tr>
      </tbody>
    }
    <!-- end data employee-->

    <!-- no data -->
    @if (!employeeSelected() && !loadingEmployee()) {
      <tbody>
        <tr>
          <td class="text-center" colspan="100%">
            <h6>Error al cargar datos de empleado.</h6>
          </td>
        </tr>
      </tbody>
    }
    <!-- end no data -->

    <!-- loading spinner -->
    <aw-table-loading [loading]="loadingEmployee()" />
    <!-- end loading spinner -->
  </table>

  <aw-btn-back cssClass="btn btn-primary" />

  @if (canUpdateStates) {
    <button [routerLink]="urlToEdit" class="btn btn-success ms-2">
      <span class="fa-solid fa-pencil"></span> Editar
    </button>
  }
</aw-card>
