<mat-card>
  <mat-card-content>
    <table class="table-list">
      <!-- data employee-->
      @if (employeeSelected() && !loadingEmployee()) {
        <tbody>
          <tr class="table-list-row">
            <td>Nombre</td>
            <td>{{ employeeSelected()?.firstName }}</td>
          </tr>
          <tr class="table-list-row">
            <td>Apellidos</td>
            <td>{{ employeeSelected()?.lastName }}</td>
          </tr>
          <tr class="table-list-row">
            <td>Email</td>
            <td>{{ employeeSelected()?.email }}</td>
          </tr>
          <tr class="table-list-row">
            <td>Teléfono</td>
            <td>{{ employeeSelected()?.phoneNumber }}</td>
          </tr>
          <tr class="table-list-row">
            <td>Cuenta activa</td>
            <td>
              <span class="d-flex">
                <span>
                  <span [innerHTML]="employeeSelected()?.active | boolToIcon"></span>
                </span>

                <!-- activar/desactivar cuenta -->
                @if (canUpdateStates) {
                  <span class="ms-auto">
                    @if (employeeSelected()?.active) {
                      <aw-btn-loading
                        color="warn"
                        icon="close"
                        btnText="Desactivar"
                        (click)="handleDeactivateEmployee()"
                        [loading]="loadingUpdateActive" />
                    }

                    @if (!employeeSelected()?.active) {
                      <aw-btn-loading
                        color="primary"
                        icon="done"
                        btnText="Activar"
                        (click)="handleActivateEmployee()"
                        [loading]="loadingUpdateActive" />
                    }
                  </span>
                }
              </span>
            </td>
          </tr>
          <tr class="table-list-row">
            <td>Invitación aceptada</td>
            <td>
              <span [innerHTML]="employeeSelected()?.emailConfirmed | boolToIcon"></span>
            </td>
          </tr>
          <tr class="table-list-row">
            <td>Fecha de ingreso</td>
            <td>{{ employeeSelected()?.entryDate | datetime }}</td>
          </tr>
          <tr class="table-list-row">
            <td>Roles</td>
            <td>
              <span class="d-flex">
                <span>
                  @if (!loadingEmployeeRoles()) {
                    <mat-chip-set aria-label="Roles empleado">
                      @for (role of employeeSelectedRoles(); track role) {
                        <mat-chip>
                          {{ roleToHumanReadable(role.name) }}
                        </mat-chip>
                      }
                    </mat-chip-set>
                  } @else {
                    <mat-progress-spinner color="primary" mode="indeterminate" />
                  }
                </span>

                <!-- edit roles -->
                @if (currentEmployeeId !== employeeSelected()?.id) {
                  <span [awRequiredRole]="role.Staff" class="ms-auto">
                    <button mat-button color="primary" (click)="handleEditRolesDialog()">Editar roles</button>
                  </span>
                }
              </span>
            </td>
          </tr>
          <tr class="table-list-row">
            <td>Estado control de tiempos</td>
            <td>
              @if (employeeTimeControlState()?.timeState === timeStates.Open) {
                <aw-dot-success />
                {{ employeeTimeControlState()?.start | datetime }}
              }
              @if (employeeTimeControlState()?.timeState === timeStates.Close) {
                <aw-dot-danger />
              }
            </td>
          </tr>
        </tbody>
      } @else if (!employeeSelected() && !loadingEmployee()) {
        <!-- no data -->
        <tbody>
          <tr>
            <td class="text-center" colspan="100%">
              <h6>Error al cargar datos de empleado.</h6>
            </td>
          </tr>
        </tbody>
      } @else {
        <!-- loading spinner -->
        <tbody>
          <tr>
            <td class="text-center" colspan="100%">
              <mat-progress-spinner color="primary" mode="indeterminate" />
            </td>
          </tr>
        </tbody>
      }
    </table>

    <!-- buttons -->
    <div class="mt-2">
      <aw-btn-back />

      @if (canUpdateStates) {
        <button mat-flat-button color="primary" class="ms-2" [routerLink]="urlToEdit">
          <mat-icon>edit</mat-icon>
          Editar
        </button>
      }
    </div>
  </mat-card-content>
</mat-card>
