<aw-view-base>
  <aw-view-header [breadcrumb]="breadcrumb">Configuración</aw-view-header>

  <aw-card>
    <ng-container *ngIf="!loadingCompanySettings()">
      <a [routerLink]="[siteUrls.companySettings.edit]" class="mb-3 btn btn-sm btn-outline-success">
        <span class="fa-solid fa-pencil"></span> Editar
      </a>

      <table class="table table-striped table-borderless">
        <thead>
          <tr>
            <th>
              Zona horaria
              <aw-tooltip-info content="Prueba de tooltip" cssClass="text-info"></aw-tooltip-info>
            </th>
            <td>{{ companySettings()?.timezone }} - {{ nowWithTimezone }}</td>
          </tr>
        </thead>
      </table>
    </ng-container>

    <ng-container *ngIf="loadingCompanySettings()">
      <aw-spinner [loading]="loadingCompanySettings()" [size]="100"></aw-spinner>
    </ng-container>
  </aw-card>
</aw-view-base>
