<aw-view-base>
  <aw-view-header [breadcrumb]="breadcrumb">Departamentos</aw-view-header>

  <aw-card>
    <!-- toolbar -->
    <div class="d-flex mb-2">
      <span class="me-auto">
        <a [routerLink]="siteUrls.departments.create" class="btn btn-sm btn-outline-success">
          <span class="fa-solid fa-building-user"></span> Crear departamento
        </a>
      </span>

      <span>
        <aw-table-input-search
          (clickClean)="handleClickClean($event)"
          [apiResult]="apiResult"
          [tableHeaderConfig]="tableHeaderConfig" />
      </span>
    </div>
    <!-- end toolbar -->

    <!-- table -->
    <aw-table [apiResult]="apiResult" [loading]="loading">
      <thead awThead>
        <tr
          (clickOrdering)="handleReloadData()"
          [apiResult]="apiResult"
          [tableHeaderConfig]="tableHeaderConfig"
        awTableHeader></tr>
      </thead>

      @if (apiResult) {
        <tbody awTbody>
          @for (department of apiResult.items; track department) {
            <tr (click)="handleSelectItem(department)" class="cursor-pointer">
              <td>
                <aw-badge [background]="department.background" [color]="department.color" [name]="department.name" />
              </td>
              <td [innerHTML]="department.active | boolToIcon"></td>
              <td>
                <aw-dot [color]="department.background" />
              </td>
              <td>
                <aw-dot [color]="department.color" />
              </td>
            </tr>
          }
        </tbody>
      }
    </aw-table>
    <!-- end table -->

    <!-- pagination -->
    @if (apiResult) {
      <aw-pagination
        (changePage)="handleReloadData()"
        (changePageListNumber)="handleReloadData()"
        [apiResult]="apiResult" />
    }
    <!-- end pagination -->
  </aw-card>
</aw-view-base>
