<ul class="pagination pagination-sm">
  <!-- pagination list -->
  <ng-container *ngIf="showPageList">
    <li class="mr-2">
      <select
        [(ngModel)]="apiResult.pageSize"
        (ngModelChange)="handleChangePageListNumber($event)"
        class="custom-select custom-select-sm unfocus">
        <ng-container *ngFor="let item of itemsPageList">
          <option [ngClass]="{ active: item === apiResult.pageSize }" [ngValue]="item">
            {{ item }}
          </option>
        </ng-container>
      </select>
    </li>
  </ng-container>
  <!-- end pagination list -->

  <ng-container *ngIf="apiResult.totalPages > 1">
    <!-- first page -->
    <ng-container *ngIf="!apiResult.hasPreviousPage">
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">
            <span class="icon fas fa-angle-double-left text-muted"></span>
          </span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
    </ng-container>

    <ng-container *ngIf="apiResult.hasPreviousPage">
      <li class="page-item" [tooltip]="'common.first'">
        <a (click)="handleChangePage(1)" class="page-link cursor-pointer" aria-label="Previous">
          <span aria-hidden="true">
            <span class="icon fas fa-angle-double-left"></span>
          </span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
    </ng-container>
    <!-- end first page -->

    <!-- previous page -->
    <ng-container *ngIf="!apiResult.hasPreviousPage">
      <li class="page-item disabled mr-2">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">
            <span class="icon fas fa-angle-left text-muted"></span>
          </span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
    </ng-container>

    <ng-container *ngIf="apiResult.hasPreviousPage">
      <li class="page-item mr-2" [tooltip]="'common.previous'">
        <a (click)="handleChangePage(apiResult.pageNumber - 1)" class="page-link cursor-pointer" aria-label="Previous">
          <span aria-hidden="true">
            <span class="icon fas fa-angle-left"></span>
          </span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
    </ng-container>
    <!-- end previous page -->

    <!-- pages -->
    <ng-container *ngIf="showPagesButtons">
      <li *ngFor="let item of pageRange()" [ngClass]="{ active: item === apiResult.pageNumber }" class="page-item">
        <a
          (click)="handleChangePage(item)"
          [ngClass]="{ 'cursor-pointer': item !== apiResult.pageNumber }"
          class="page-link">
          {{ item }}
        </a>
      </li>
    </ng-container>
    <!-- end pages -->

    <!-- next page -->
    <ng-container *ngIf="!apiResult.hasNextPage">
      <li class="page-item disabled ml-2">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">
            <span class="icon fas fa-angle-right text-muted"></span>
          </span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
    </ng-container>

    <ng-container *ngIf="apiResult.hasNextPage">
      <li class="page-item ml-2" [tooltip]="'common.next'">
        <a (click)="handleChangePage(apiResult.pageNumber + 1)" class="page-link cursor-pointer" aria-label="Next">
          <span aria-hidden="true">
            <span class="icon fas fa-angle-right"></span>
          </span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ng-container>
    <!-- end next page -->

    <!-- last page -->
    <ng-container *ngIf="!apiResult.hasNextPage">
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">
            <span class="icon fas fa-angle-double-right text-muted"></span>
          </span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ng-container>

    <ng-container *ngIf="apiResult.hasNextPage">
      <li class="page-item" [tooltip]="'common.last'">
        <a (click)="handleChangePage(apiResult.totalPages)" class="page-link cursor-pointer" aria-label="Next">
          <span aria-hidden="true">
            <span class="icon fas fa-angle-double-right"></span>
          </span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ng-container>
    <!-- end last page -->
  </ng-container>
</ul>
