<aw-view-base [showFooter]="false" [showNavbar]="false" [showSidebar]="false">
  <div class="form-recovery-password-change w-100 m-auto mt-5">
    <aw-card extraCss="p-4">
      <form (ngSubmit)="handleSubmit()" [formGroup]="form">
        <h1 class="h3 mb-3 fw-normal"><span class="fa-solid fa-user"></span>Recuperar contraseña</h1>
        <hr />

        <aw-non-field-errors [badRequest]="badRequest"></aw-non-field-errors>

        <ng-container *ngIf="errorMessages.length > 0">
          <div class="alert alert-danger">Se ha producido un error al restablecer la contraseña</div>
        </ng-container>

        <!-- password -->
        <div class="mb-2">
          <aw-form-floating
            [badRequest]="badRequest"
            [form]="form"
            [submitted]="submitted"
            [inputType]="formInputTypes.password"
            fieldName="password"
            formControlName="password"
            label="Contraseña">
          </aw-form-floating>
        </div>
        <!-- end password -->

        <!-- confirmPassword -->
        <div class="mb-2">
          <aw-form-floating
            [badRequest]="badRequest"
            [form]="form"
            [submitted]="submitted"
            [inputType]="formInputTypes.password"
            fieldName="confirmPassword"
            formControlName="confirmPassword"
            label="Contraseña">
          </aw-form-floating>
        </div>
        <!-- end confirmPassword -->

        <a [routerLink]="[siteUrls.login]" class="small">Identificarse</a>

        <aw-btn-loading
          [loading]="loading"
          btnClass="w-100 btn btn-lg btn-primary mt-2"
          btnText="Restablecer contraseña"></aw-btn-loading>
      </form>
    </aw-card>
  </div>
</aw-view-base>
