<div class="d-flex justify-content-center">
  <h5>Días laborables</h5>
</div>

<div class="d-flex justify-content-center">
  <div class="btn-group">
    <button
      (click)="handleClickDay(weekDaysEnum.monday)"
      [ngClass]="{ 'btn-primary': workDays?.monday, 'btn-outline-primary': !workDays?.monday }"
      class="btn btn-primary">
      Lunes
    </button>

    <button
      (click)="handleClickDay(weekDaysEnum.tuesday)"
      [ngClass]="{ 'btn-primary': workDays?.tuesday, 'btn-outline-primary': !workDays?.tuesday }"
      class="btn btn-primary">
      Martes
    </button>

    <button
      (click)="handleClickDay(weekDaysEnum.wednesday)"
      [ngClass]="{ 'btn-primary': workDays?.wednesday, 'btn-outline-primary': !workDays?.wednesday }"
      class="btn btn-primary">
      Miércoles
    </button>

    <button
      (click)="handleClickDay(weekDaysEnum.thursday)"
      [ngClass]="{ 'btn-primary': workDays?.thursday, 'btn-outline-primary': !workDays?.thursday }"
      class="btn btn-primary">
      Jueves
    </button>

    <button
      (click)="handleClickDay(weekDaysEnum.friday)"
      [ngClass]="{ 'btn-primary': workDays?.friday, 'btn-outline-primary': !workDays?.friday }"
      class="btn btn-primary">
      Viernes
    </button>

    <button
      (click)="handleClickDay(weekDaysEnum.saturday)"
      [ngClass]="{ 'btn-primary': workDays?.saturday, 'btn-outline-primary': !workDays?.saturday }"
      class="btn btn-primary">
      Sábado
    </button>

    <button
      (click)="handleClickDay(weekDaysEnum.sunday)"
      [ngClass]="{ 'btn-primary': workDays?.sunday, 'btn-outline-primary': !workDays?.sunday }"
      class="btn btn-primary">
      Domingo
    </button>
  </div>
</div>
