<aw-page-base>
  <!-- header -->
  <aw-page-header [breadcrumb]="breadcrumb">Detalles departamento</aw-page-header>

  <!-- department details -->
  <aw-department-details [departmentId]="departmentId"></aw-department-details>

  <!-- tabs -->
  @if (departmentId && departmentSelected()) {
    <mat-card class="mt-2">
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Empleados">
            <ng-template matTabContent>
              <aw-department-users />
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  }
</aw-page-base>
