@if (companyCalendars) {
  <mat-form-field>
    <mat-label>Seleccionar calendario</mat-label>
    <mat-select (valueChange)="onChange($event)" [(value)]="value" [disabled]="isDisabled">
      @for (calendar of companyCalendars; track $index) {
        <mat-option [value]="calendar.id">{{ calendar.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  @if (form()) {
    <aw-field-error
      fieldText="Seleccionar calendario"
      [badRequest]="badRequest()"
      [fieldName]="fieldName()"
      [form]="form()"
      [submitted]="submitted()" />
  }
}
