<div class="form-group">
  <ng-container *ngIf="label">
    <label [for]="id" class="text-primary">
      {{ label }}
    </label>
  </ng-container>

  <textarea
    [(ngModel)]="value"
    [id]="id"
    [value]="value"
    [disabled]="isDisabled"
    [ngClass]="{ extraCss: true, 'is-invalid': isInvalid() }"
    [placeholder]="placeholder"
    [rows]="rows"
    [cols]="cols"
    (ngModelChange)="onChangeValue($event)"
    class="form-control"
  ></textarea>

  <ng-container *ngIf="form">
    <aw-field-error
      [form]="form"
      [badRequest]="badRequest"
      [submitted]="submitted"
      [fieldText]="label"
      [fieldName]="fieldName"
    >
    </aw-field-error>
  </ng-container>
</div>
