<!-- progress -->
@if (!loading() && progressStackedCollection().length) {
  @for (progressStacked of progressStackedCollection(); track progressStacked) {
    <aw-progress-stacked [progressStackedCollection]="progressStacked" (clickProgress)="handleClickProgress($event)" />
  }
}

<!-- no data -->
@if (!loading() && !progressStackedCollection().length) {
  <p>No hay datos a mostrar</p>
}

<!-- loading -->
@if (loading()) {
  <div class="d-flex justify-content-center p-5">
    <mat-progress-spinner color="primary" mode="indeterminate" />
  </div>
}
