<h2 mat-dialog-title>
  Roles - <small>{{ fullName }}</small>
  <mat-divider />
</h2>

<mat-dialog-content>
  <div class="d-flex flex-column">
    <!-- role admin -->
    <mat-slide-toggle
      (ngModelChange)="handleChangeValue(role.Admin, $event)"
      [(ngModel)]="isAdmin"
      [checked]="isAdmin"
      [disabled]="true">
      Administrador
    </mat-slide-toggle>

    <!-- role staff -->
    <mat-slide-toggle
      (ngModelChange)="handleChangeValue(role.Staff, $event)"
      [(ngModel)]="isStaff"
      [checked]="isStaff"
      [disabled]="isAdmin">
      Staff
    </mat-slide-toggle>

    <!-- role human resources -->
    <mat-slide-toggle
      (ngModelChange)="handleChangeValue(role.HumanResources, $event)"
      [(ngModel)]="isHumanResources"
      [checked]="isHumanResources"
      [disabled]="isAdmin">
      Recursos Humanos
    </mat-slide-toggle>

    <!-- role employee -->
    <mat-slide-toggle
      (ngModelChange)="handleChangeValue(role.Employee, $event)"
      [(ngModel)]="isEmployee"
      [checked]="isEmployee"
      [disabled]="true">
      Empleado
    </mat-slide-toggle>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="me-2" color="accent" mat-dialog-close mat-flat-button>
    <mat-icon>close</mat-icon>
    Cerrar
  </button>

  <aw-btn-loading (eventClick)="handleSaveChanges()" [loading]="loading" btnText="Guardar cambios" icon="save" />
</mat-dialog-actions>
