<aw-view-base>
  <aw-view-header [breadcrumb]="breadcrumb">Añadir tiempo</aw-view-header>

  <aw-card>
    <!-- seleccionar empleado -->
    @if (!employeeSelected()) {
      <aw-time-control-select-employee />
    }
    <!-- end seleccionar empleado -->
  </aw-card>

  <!-- seleccionar tiempos -->
  @if (employeeSelected()) {
    <aw-card>
      <div class="row">
        <div class="col text-center">
          <button (click)="handleSelectEmployee()" class="btn btn-outline-primary">Buscar empleado</button>
        </div>
      </div>

      <span class="fs-6">
        {{ employeeSelected()?.firstName }} {{ employeeSelected()?.lastName }} &lt;{{ employeeSelected()?.email }}&gt;
      </span>
    </aw-card>

    <div class="mt-3"></div>

    <aw-card>
      <aw-time-control-record-form />
    </aw-card>
  }
  <!-- end seleccionar tiempos -->
</aw-view-base>
