<div [ngClass]="extraCss" class="card border-0 shadow-sm">
  <ng-content select="[awCardHeader]"></ng-content>
  <ng-content select="[awCardImage]"></ng-content>

  <div class="card-body">
    <ng-content *ngIf="!loading" select="[awCardTitle]"></ng-content>
    <ng-content *ngIf="!loading" select="[awCardSubTitle]"></ng-content>

    <!-- main content -->
    <ng-container *ngIf="!loading; else loadingData">
      <p class="card-text">
        <ng-content></ng-content>
      </p>
    </ng-container>
    <!-- end main content -->

    <ng-template #loadingData>
      <aw-spinner [loading]="loading" [size]="spinnerSize"></aw-spinner>
    </ng-template>
  </div>

  <ng-content select="[awCardFooter]" class="card-footer text-muted"></ng-content>
</div>
