<div [ngClass]="extraCss" class="card border-0 shadow-sm bg-body-tertiary">
  <ng-content select="[awCardHeader]" />
  <ng-content select="[awCardImage]" />

  <div class="card-body">
    <ng-container *ngIf="!loading">
      <ng-content select="[awCardTitle]" />
      <ng-content select="[awCardSubTitle]" />
    </ng-container>

    <!-- main content -->
    <ng-container *ngIf="!loading; else loadingData">
      <p class="card-text">
        <ng-content />
      </p>
    </ng-container>
    <!-- end main content -->

    <ng-template #loadingData>
      <aw-spinner [loading]="loading" [size]="spinnerSize" />
    </ng-template>
  </div>

  <ng-content class="card-footer text-muted" select="[awCardFooter]" />
</div>
