<div class="d-flex justify-content-center">
  <h5>Días laborables</h5>
</div>

<div class="d-flex justify-content-center">
  @if (weekDays && !loadingWorkDays) {
    <div class="btn-group">
      <button
        (click)="handleClickDay(weekDays.monday)"
        [ngClass]="{ 'btn-success': workDays?.monday, 'btn-danger': !workDays?.monday }"
        class="btn">
        Lunes
      </button>

      <button
        (click)="handleClickDay(weekDays.tuesday)"
        [ngClass]="{ 'btn-success': workDays?.tuesday, 'btn-danger': !workDays?.tuesday }"
        class="btn">
        Martes
      </button>

      <button
        (click)="handleClickDay(weekDays.wednesday)"
        [ngClass]="{ 'btn-success': workDays?.wednesday, 'btn-danger': !workDays?.wednesday }"
        class="btn">
        Miércoles
      </button>

      <button
        (click)="handleClickDay(weekDays.thursday)"
        [ngClass]="{ 'btn-success': workDays?.thursday, 'btn-danger': !workDays?.thursday }"
        class="btn">
        Jueves
      </button>

      <button
        (click)="handleClickDay(weekDays.friday)"
        [ngClass]="{ 'btn-success': workDays?.friday, 'btn-danger': !workDays?.friday }"
        class="btn">
        Viernes
      </button>

      <button
        (click)="handleClickDay(weekDays.saturday)"
        [ngClass]="{ 'btn-success': workDays?.saturday, 'btn-danger': !workDays?.saturday }"
        class="btn">
        Sábado
      </button>

      <button
        (click)="handleClickDay(weekDays.sunday)"
        [ngClass]="{ 'btn-success': workDays?.sunday, 'btn-danger': !workDays?.sunday }"
        class="btn">
        Domingo
      </button>
    </div>
  } @else {
    <aw-spinner [loading]="loadingWorkDays" />
  }
</div>
