<aw-view-base>
  <aw-view-header [breadcrumb]="breadcrumb">
    Empleado - {{ employeeSelected()?.firstName }} {{ employeeSelected()?.lastName }}
  </aw-view-header>

  <!-- employee details -->
  <ng-container *ngIf="employeeSelected()">
    <aw-employee-details></aw-employee-details>
  </ng-container>
  <!-- end employee details -->

  <!-- tabs -->
  <ng-container *ngIf="employeeSelected()">
    <div class="mt-3">
      <aw-card>
        <div>
          <tabset>
            <tab #tabTasks="tab" heading="Tareas">
              <aw-employee-tasks *ngIf="tabTasks.active"></aw-employee-tasks>
            </tab>

            <tab #tabTimeControl="tab" heading="Control de tiempos">
              <aw-employee-time-control *ngIf="tabTimeControl.active"></aw-employee-time-control>
            </tab>

            <tab #tabC="tab" heading="Basic Title 2">Basic content 2</tab>
          </tabset>
        </div>
      </aw-card>
    </div>
  </ng-container>
</aw-view-base>
<!-- end tabs -->
