<aw-page-base>
  <aw-page-header [breadcrumb]="breadcrumb" />

  <!-- task details -->
  <aw-company-task-details [companyTaskId]="companyTaskId" />

  <!-- tabs -->
  @if (companyTaskId && companyTaskSelected()) {
    <mat-card class="mt-2">
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Empleados">
            <ng-template matTabContent>
              <aw-company-task-users />
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  }
</aw-page-base>
