<mat-card>
  <mat-card-content>
    <table class="table-list">
      <tbody>
        <!-- data company task -->
        @if (companyTaskSelected() && !companyTaskVLoading()) {
          <tr class="table-list-row">
            <td>Nombre</td>
            <td>
              <aw-badge [background]="companyTaskSelected()?.background" [color]="companyTaskSelected()?.color">
                {{ companyTaskSelected()?.name }}
              </aw-badge>
            </td>
          </tr>
          <tr class="table-list-row">
            <td>Fecha de creación</td>
            <td>{{ companyTaskSelected()?.created | dateFormat }}</td>
          </tr>
          <tr class="table-list-row">
            <td>Activa</td>
            <td>
              <span class="d-flex">
                <span [innerHTML]="companyTaskSelected()?.active | boolToIcon"></span>
              </span>
            </td>
          </tr>
        }
      </tbody>
    </table>

    <!-- spinner -->
    @if (companyTaskVLoading()) {
      <div class="d-flex justify-content-center p-5">
        <mat-progress-spinner color="primary" mode="indeterminate" />
      </div>
    }

    <mat-divider />

    <!-- buttons -->
    <div class="mt-2">
      <aw-btn-back class="me-2" />

      <button [routerLink]="urlToEdit" class="me-2" color="primary" mat-flat-button>
        <mat-icon>edit</mat-icon>
        Editar
      </button>

      @if (companyTaskSelected()?.active) {
        <aw-btn-loading
          color="warn"
          btnText="Desactivar"
          icon="toggle_off"
          (click)="handleDeactivateTask()"
          [loading]="loadingStateTask" />
      } @else {
        <aw-btn-loading
          color="primary"
          btnText="Activar"
          icon="toggle_on"
          (click)="handleActivateTask()"
          [loading]="loadingStateTask" />
      }
    </div>
  </mat-card-content>
</mat-card>
