<div class="d-flex my-3">
  <h5 class="m-auto">Tareas de {{ employeeSelected()?.firstName }} {{ employeeSelected()?.lastName }}</h5>
</div>

<!-- filter -->
<div class="d-flex mb-2">
  <span class="me-auto">&nbsp;</span>
  <span>
    <aw-table-input-search
      [tableHeaderConfig]="tableHeaderConfig"
      [apiResult]="apiResult"
      (clickFiltering)="handleFilterChange($event)"></aw-table-input-search>
  </span>
</div>
<!-- end filter -->

<!-- table -->
<aw-table [apiResult]="apiResult" [loading]="loading">
  <thead awThead>
    <tr
      awTableHeader
      [tableHeaderConfig]="tableHeaderConfig"
      [apiResult]="apiResult"
      (clickOrdering)="handleReloadData()"></tr>
  </thead>

  <tbody awTbody *ngIf="apiResult">
    <tr *ngFor="let task of apiResult.items" (click)="handleSelectItem(task)" class="cursor-pointer">
      <td>
        <aw-badge [background]="task.background" [color]="task.color" [name]="task.name"></aw-badge>
      </td>
      <td [innerHTML]="task.active | boolToIcon"></td>
      <td>
        <aw-dot [color]="task.background"></aw-dot>
      </td>
      <td>
        <aw-dot [color]="task.color"></aw-dot>
      </td>
    </tr>
  </tbody>
</aw-table>
<!-- end table -->

<!-- pagination -->
<aw-pagination
  *ngIf="apiResult"
  [apiResult]="apiResult"
  (changePage)="handleReloadData()"
  (changePageListNumber)="handleReloadData()">
</aw-pagination>
<!-- end pagination -->
