<div class="d-flex my-3">
  <h5 class="m-auto">Tareas de {{ employeeSelected()?.firstName }} {{ employeeSelected()?.lastName }}</h5>
</div>

<!-- filter -->
<div class="d-flex mb-2">
  <span class="me-auto">&nbsp;</span>
  <span>
    <aw-table-input-search
      (clickClean)="handleClickClean($event)"
      [apiResult]="apiResult"
      [tableHeaderConfig]="tableHeaderConfig"></aw-table-input-search>
  </span>
</div>
<!-- end filter -->

<!-- table -->
<aw-table [apiResult]="apiResult" [loading]="loading">
  <thead awThead>
    <tr
      (clickOrdering)="handleReloadData()"
      [apiResult]="apiResult"
      [tableHeaderConfig]="tableHeaderConfig"
      awTableHeader></tr>
  </thead>

  <tbody *ngIf="apiResult" awTbody>
    <tr (click)="handleSelectItem(task)" *ngFor="let task of apiResult.items" class="cursor-pointer">
      <td>
        <aw-badge [background]="task.background" [color]="task.color" [name]="task.name"></aw-badge>
      </td>
      <td [innerHTML]="task.active | boolToIcon"></td>
    </tr>
  </tbody>
</aw-table>
<!-- end table -->

<!-- pagination -->
<aw-pagination
  (changePage)="handleReloadData()"
  (changePageListNumber)="handleReloadData()"
  *ngIf="apiResult"
  [apiResult]="apiResult">
</aw-pagination>
<!-- end pagination -->
