<aw-page-base>
  <aw-page-header>Control de tiempos</aw-page-header>

  <!-- toolbar -->
  <mat-card>
    <mat-card-content>
      @if (companyGeolocationRequired && !geolocationIsAvailable()) {
        <div class="alert alert-danger mb-4">
          La empresa requiere que acepte permisos de ubicación desde el navegador
        </div>
      }

      <div class="d-flex justify-content-center">
        <aw-month-selector
          (changeMonthSelected)="handleDateSelected($event)"
          [dateSelected]="dateSelected"
          [readOnly]="true" />
      </div>

      <div class="d-flex justify-content-between mt-4">
        <!-- state -->
        <div>
          @if (currentTimeControl()?.timeState === timeStates.Open) {
            <aw-dot-success class="me-2" />

            <span class="small">
              Tiempo iniciado: <strong>{{ currentTimeControl()?.start | dateFormat: dateTimeFormat }}</strong>
            </span>
          } @else {
            <aw-dot-danger class="me-2" />
            <span class="small">El tiempo esta finalizado</span>
          }
        </div>

        <div class="small">Tiempo total: {{ timeTotalInMonth }}</div>

        <!-- button state -->
        @if (!companyGeolocationRequired || (companyGeolocationRequired && geolocationIsAvailable())) {
          <div>
            @if (currentTimeControl()?.timeState === timeStates.Open) {
              <aw-btn-loading
                (eventClick)="handleTimeFinished()"
                [loading]="loadingTimeState"
                color="warn"
                icon="lock"
                btnText="Finalizar" />
            } @else {
              <aw-btn-loading
                (eventClick)="handleTimeStart()"
                [loading]="loadingTimeState"
                color="accent"
                icon="lock_open"
                btnText="Iniciar" />
            }
          </div>
        }
      </div>
    </mat-card-content>
  </mat-card>

  <!-- times control -->
  <mat-card class="mt-2">
    <mat-card-content>
      <aw-time-control-progress
        (clickProgress)="handleClickProgress($event)"
        [loading]="loadingTimeControls"
        [progressStackedCollection]="progressStackedCollection" />
    </mat-card-content>
  </mat-card>
</aw-page-base>
