<div class="form-group">
  @if (label) {
    <label [for]="id" class="form-label">
      {{ label }}
    </label>
  }

  <input
    (ngModelChange)="onChangeValue($event)"
    [(ngModel)]="value"
    [bsConfig]="bsConfig"
    [isDisabled]="isDisabled"
    [disabled]="isDisabled"
    [ngClass]="{ extraCss: true, 'is-invalid': isInvalid() }"
    [placeholder]="placeholder"
    [type]="inputType"
    bsDatepicker
    class="form-control" />

  @if (form) {
    <aw-field-error
      [badRequest]="badRequest"
      [fieldName]="fieldName"
      [fieldText]="label"
      [form]="form"
      [submitted]="submitted" />
  }
</div>
