<mat-form-field>
  <mat-label>{{ label() }}</mat-label>
  <input
    matInput
    (ngModelChange)="onChangeValue($event)"
    [(ngModel)]="value"
    [disabled]="isDisabled"
    [matDatepicker]="picker"
    [id]="id()"
    [placeholder]="placeholder()"
    [value]="value"
    [readonly]="readonly()" />
  <mat-datepicker-toggle matIconSuffix [for]="picker" />
  <mat-datepicker #picker />
</mat-form-field>

@if (form()) {
  <aw-field-error
    [badRequest]="badRequest()"
    [fieldName]="fieldName()"
    [fieldText]="label()"
    [form]="form()"
    [submitted]="submitted()" />
}
