<aw-page-base>
  <aw-page-header [breadcrumb]="breadcrumb">Editar Configuración</aw-page-header>

  <mat-card>
    <mat-card-content>
      @if (!loadingForm) {
        <form (ngSubmit)="handleSubmit()" [formGroup]="form">
          <!-- periodTimeControlMax -->
          <div class="mb-2">
            <aw-form-input
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              [formInputType]="formInputTypes.Integer"
              fieldName="periodTimeControlMax"
              formControlName="periodTimeControlMax"
              label="Periodo máx de un control de tiempo" />
            <span class="small">Horas máximas de un control de tiempo, si se excede se cierran automáticamente</span>
          </div>

          <!-- weeklyWorkingHours -->
          <div class="mt-4">
            <aw-form-input
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              [formInputType]="formInputTypes.Integer"
              fieldName="weeklyWorkingHours"
              formControlName="weeklyWorkingHours"
              label="Horas de trabajo semanal" />
            <span class="small">Horas laborables de una semana</span>
          </div>

          <!-- timezone -->
          <div class="mt-4">
            <aw-form-timezone
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              fieldName="timezone"
              formControlName="timezone"
              label="Zona horaria" />

            <!-- comparación de horas. -->
            @if (nowWithOriginalTimezone) {
              <span class="small">
                Hora actual seleccionada: <strong>{{ nowWithOriginalTimezone }}</strong>
              </span>
            }

            @if (nowWithTimezoneSelected) {
              <span class="small">
                - Nueva hora seleccionada: <strong>{{ nowWithTimezoneSelected }}</strong>
              </span>
            }
          </div>
          <!-- timezone -->

          <!-- geolocationRequired -->
          <div class="d-flex flex-column mt-4">
            <aw-form-checkbox
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              fieldName="geolocationRequired"
              formControlName="geolocationRequired"
              label="Geolocalización requerida" />

            <span class="small">
              El empleado deberá aceptar Geolocalización desde el navegador o no podrá iniciar/finalizar tiempos
            </span>
          </div>

          <mat-divider />

          <!-- buttons-->
          <div class="mt-4">
            <aw-btn-back class="me-2" />
            <aw-btn-loading [loading]="loadingForm" icon="save" btnText="Actualizar" />
          </div>
        </form>
      }
    </mat-card-content>
  </mat-card>
</aw-page-base>
