<aw-card>
  <table class="table table-striped table-borderless">
    <!-- sonarLint -->
    <caption></caption>
    <thead>
      <th></th>
    </thead>
    <!-- end sonarLint -->

    <!-- data employee-->
    <ng-container *ngIf="employeeSelected() && !loadingEmployee()">
      <tbody>
        <tr>
          <td>Nombre</td>
          <td>{{ employeeSelected()?.firstName }}</td>
        </tr>
        <tr>
          <td>Apellidos</td>
          <td>{{ employeeSelected()?.lastName }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ employeeSelected()?.email }}</td>
        </tr>
        <tr>
          <td>Teléfono</td>
          <td>{{ employeeSelected()?.phoneNumber }}</td>
        </tr>
        <tr>
          <td>Cuenta activa</td>
          <td>
            <span class="d-flex">
              <span>
                <span [innerHTML]="employeeSelected()?.active | boolToIcon"></span>
              </span>

              <!-- activar o desactivar cuenta -->
              <ng-container *ngIf="canUpdateStates">
                <span class="ms-auto">
                  <ng-container *ngIf="employeeSelected()?.active">
                    <aw-btn-loading
                      (click)="handleDeactivateEmployee()"
                      [loading]="loadingUpdateActive"
                      btnText="Desactivar cuenta"
                      btnClass="btn btn-sm btn-outline-danger ms-4"></aw-btn-loading>
                  </ng-container>

                  <ng-container *ngIf="!employeeSelected()?.active">
                    <aw-btn-loading
                      (click)="handleActivateEmployee()"
                      [loading]="loadingUpdateActive"
                      btnText="Activar cuenta"
                      btnClass="btn btn-sm btn-outline-success ms-4"></aw-btn-loading>
                  </ng-container>
                </span>
              </ng-container>
              <!-- end activar o desactivar cuenta -->
            </span>
          </td>
        </tr>
        <tr>
          <td>Invitación aceptada</td>
          <td>
            <span [innerHTML]="employeeSelected()?.emailConfirmed | boolToIcon"></span>
          </td>
        </tr>
        <tr>
          <td>Fecha de ingreso</td>
          <td>{{ employeeSelected()?.entryDate | datetime: dateShort }}</td>
        </tr>
        <tr>
          <td>Roles</td>
          <td>
            <span class="d-flex">
              <span>
                <ng-container *ngIf="!loadingEmployeeRoles()">
                  <span *ngFor="let role of employeeSelectedRoles()" class="badge rounded-pill bg-success ms-1">
                    {{ roleToHumanReadable(role.name) }}
                  </span>
                </ng-container>

                <ng-container *ngIf="loadingEmployeeRoles()">
                  <aw-spinner [loading]="loadingEmployeeRoles()"></aw-spinner>
                </ng-container>
              </span>

              <!-- edit roles -->
              <ng-container *ngIf="currentEmployeeId !== employeeSelected()?.id">
                <span [awRequiredRole]="roles.enterpriseStaff" class="ms-auto">
                  <button (click)="handleRolesModalEdit()" class="btn btn-sm btn-outline-warning">Editar roles</button>
                </span>
              </ng-container>
              <!-- end edit roles -->
            </span>
          </td>
        </tr>
        <tr>
          <td>Estado control de tiempos</td>
          <td>
            <ng-container *ngIf="employeeTimeControlState()?.timeState === timeStates.open">
              <aw-dot-success></aw-dot-success> {{ employeeTimeControlState()?.start | datetime }}
            </ng-container>
            <ng-container *ngIf="employeeTimeControlState()?.timeState === timeStates.close">
              <aw-dot-danger></aw-dot-danger>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </ng-container>
    <!-- end data employee-->

    <!-- no data -->
    <ng-container *ngIf="!employeeSelected() && !loadingEmployee()">
      <tbody>
        <tr>
          <td colspan="100%" class="text-center">
            <h6>Error al cargar datos de empleado.</h6>
          </td>
        </tr>
      </tbody>
    </ng-container>
    <!-- end no data -->

    <!-- loading spinner -->
    <aw-table-loading [loading]="loadingEmployee()"></aw-table-loading>
    <!-- end loading spinner -->
  </table>

  <aw-btn-back cssClass="btn btn-primary"></aw-btn-back>

  <ng-container *ngIf="canUpdateStates">
    <button [routerLink]="urlToEdit" class="btn btn-success ms-2">
      <span class="fa-solid fa-pencil"></span> Editar
    </button>
  </ng-container>
</aw-card>
