<aw-card>
  <table class="table table-striped table-borderless">
    <!-- sonarLint -->
    <caption></caption>
    <thead>
      <th></th>
    </thead>
    <!-- end sonarLint -->

    <!-- data employee-->
    <ng-container *ngIf="employee() && !loading()">
      <tbody>
        <tr>
          <td>Nombre</td>
          <td>{{ employee()?.firstName }}</td>
        </tr>
        <tr>
          <td>Apellidos</td>
          <td>{{ employee()?.lastName }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ employee()?.email }}</td>
        </tr>
        <tr>
          <td>Teléfono</td>
          <td>{{ employee()?.phoneNumber }}</td>
        </tr>
        <tr>
          <td>Cuenta activa</td>
          <td>
            <span class="d-flex">
              <span>
                <span [innerHTML]="employee()?.active | boolToIcon"></span>
              </span>

              <!-- activar o desactivar cuenta -->
              <ng-container *ngIf="canUpdateStates">
                <span class="ms-auto">
                  <ng-container *ngIf="employee()?.active">
                    <aw-btn-loading
                      (click)="handleDeactivateEmployee()"
                      [loading]="loadingUpdateActive"
                      btnText="Desactivar cuenta"
                      btnClass="btn btn-sm btn-outline-danger ms-4"></aw-btn-loading>
                  </ng-container>

                  <ng-container *ngIf="!employee()?.active">
                    <aw-btn-loading
                      (click)="handleActivateEmployee()"
                      [loading]="loadingUpdateActive"
                      btnText="Activar cuenta"
                      btnClass="btn btn-sm btn-outline-success ms-4"></aw-btn-loading>
                  </ng-container>
                </span>
              </ng-container>
              <!-- end activar o desactivar cuenta -->
            </span>
          </td>
        </tr>
        <tr>
          <td>Invitación aceptada</td>
          <td>
            <span [innerHTML]="employee()?.emailConfirmed | boolToIcon"></span>
          </td>
        </tr>
        <tr>
          <td>Roles</td>
          <td>
            <span class="d-flex">
              <span>
                <span class="badge rounded-pill bg-success ms-1" *ngFor="let role of employee()?.userRoles">
                  {{ roleToText(role) }}
                </span>
              </span>

              <!-- add or remove role rrhh -->
              <span [awRequiredRole]="roles.enterpriseAdministrator" class="ms-auto">
                <ng-container *ngIf="isHumanResources && !isEnterpriseAdministrator">
                  <aw-btn-loading
                    (click)="handleRemoveRoleRrhh()"
                    [loading]="loadingUpdateRole"
                    [btnText]="btnTextDeleteRole"
                    btnClass="ms-auto btn btn-outline-danger btn-sm"></aw-btn-loading>
                </ng-container>

                <ng-container *ngIf="!isHumanResources && !isEnterpriseAdministrator">
                  <aw-btn-loading
                    (click)="handleAddRoleRrhh()"
                    [loading]="loadingUpdateRole"
                    [btnText]="btnTextAddRole"
                    btnClass="ms-auto btn btn-outline-warning btn-sm"></aw-btn-loading>
                </ng-container>
              </span>
              <!-- end add or remove role rrhh -->
            </span>
          </td>
        </tr>
      </tbody>
    </ng-container>
    <!-- end data employee-->

    <!-- no data -->
    <ng-container *ngIf="!employee() && !loading()">
      <tbody>
        <tr>
          <td colspan="100%" class="text-center">
            <h6>Error al cargar datos de empleado.</h6>
          </td>
        </tr>
      </tbody>
    </ng-container>
    <!-- end no data -->

    <!-- loading spinner -->
    <ng-container *ngIf="loading()">
      <tbody>
        <tr>
          <td colspan="100%" class="text-center">
            <aw-spinner [loading]="loading()" [size]="100"></aw-spinner>
          </td>
        </tr>
      </tbody>
    </ng-container>
    <!-- end loading spinner -->
  </table>

  <button [routerLink]="siteUrls.employees.employeeList" class="btn btn-primary">
    <span class="fa-solid fa-chevron-left"></span> Volver
  </button>

  <ng-container *ngIf="canUpdateStates">
    <button [routerLink]="urlToEdit" class="btn btn-success ms-2">
      <span class="fa-solid fa-pencil"></span> Editar
    </button>
  </ng-container>
</aw-card>
