<section [ngClass]="sidebarState$() === sidebarStates.open ? 'show' : 'hide'" class="border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Employee control</div>
  <div class="list-group list-group-flush">
    <a
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="[siteUrls.home]"
      class="list-group-item list-group-item-action"
      routerLinkActive="active">
      Inicio
    </a>
    <a
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="[siteUrls.homeTests]"
      class="list-group-item list-group-item-action"
      routerLinkActive="active">
      Tests
    </a>
    <a (click)="handleLogOut()" class="list-group-item list-group-item-action">Log out</a>
  </div>
</section>
