<aw-page-base>
  <aw-page-header [breadcrumb]="breadcrumb">Crear departamento</aw-page-header>

  <mat-card>
    <mat-card-content>
      <!-- form -->
      <form (ngSubmit)="handleSubmit()" [formGroup]="form">
        <aw-non-field-errors [badRequest]="badRequest" />

        <!-- name -->
        <div class="mb-2">
          <aw-form-input
            [badRequest]="badRequest"
            [form]="form"
            [submitted]="submitted"
            fieldName="name"
            formControlName="name"
            label="Nombre" />
        </div>

        <!-- show result-->
        @if (form.get("name")?.value) {
          <div class="my-3">
            <aw-badge [background]="form.get('background')?.value" [color]="form.get('color')?.value">
              {{ form.get("name")?.value }}
            </aw-badge>
          </div>
        }

        <div class="d-flex flex-wrap">
          <!-- background -->
          <div class="mb-2">
            <aw-form-color-picker
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              fieldName="background"
              formControlName="background"
              label="Color de fondo" />
          </div>

          <!-- color -->
          <div class="mb-2 ms-5">
            <aw-form-color-picker
              [badRequest]="badRequest"
              [form]="form"
              [submitted]="submitted"
              fieldName="color"
              formControlName="color"
              label="Color de texto" />
          </div>
        </div>

        <mat-divider class="mt-4" />

        <!-- buttons-->
        <aw-btn-back class="me-2" />
        <aw-btn-loading [loading]="loading" icon="add" btnText="Crear" />
      </form>
    </mat-card-content>
  </mat-card>
</aw-page-base>
