<aw-page-simple>
  <div class="login-container">
    <form (ngSubmit)="handleSubmit()" [formGroup]="form" class="form">
      <mat-card class="mat-elevation-z3 p-4">
        <mat-card-header>
          <mat-card-title class="title">
            <h1>Identificarse</h1>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          @if (invalidResponse) {
            <div class="alert alert-danger mb-4">Nombre de usuario o contraseña no validos.</div>
          }

          <aw-non-field-errors [badRequest]="badRequest" />

          <!-- email -->
          <aw-form-input
            [badRequest]="badRequest"
            [form]="form"
            [submitted]="submitted"
            fieldName="email"
            formControlName="email"
            label="Correo electrónico"
            icon="mail" />

          <!-- password -->
          <aw-form-input
            [badRequest]="badRequest"
            [form]="form"
            [submitted]="submitted"
            [formInputType]="formInputType.Password"
            fieldName="password"
            formControlName="password"
            label="Contraseña"
            icon="lock" />

          <mat-divider />
        </mat-card-content>

        <mat-card-footer class="mt-2">
          <aw-btn-loading [loading]="loading" btnText="Identificar" />
          <button mat-stroked-button class="ms-2" type="button" [routerLink]="[siteUrl.accounts.recoveryPassword]">
            ¿Olvidaste contraseña?
          </button>
        </mat-card-footer>
      </mat-card>
    </form>
  </div>
</aw-page-simple>
