<mat-form-field>
  <mat-label>{{ label() }}</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input
      matStartDate
      placeholder="Fecha de inicio"
      [(ngModel)]="dateStart"
      [disabled]="disabled()"
      [readonly]="readonly()" />
    <input
      matEndDate
      placeholder="Fecha final"
      [(ngModel)]="dateEnd"
      (dateChange)="handleDateChange()"
      [disabled]="disabled()"
      [readonly]="readonly()" />
  </mat-date-range-input>

  @if (hint()) {
    <mat-hint>{{ hint() }}</mat-hint>
  }

  <mat-datepicker-toggle matIconSuffix [for]="picker" />
  <mat-date-range-picker #picker />
</mat-form-field>
