<div class="d-flex align-items-center">
  <!-- previous -->
  @if (!isDisabled) {
    <button (click)="handlePreviousRange()" class="btn btn-sm btn-outline-primary">
      <span class="fa-solid fa-left-long"></span>
    </button>
  }
  <!-- end previous -->

  <!-- input form -->
  <input
    (bsValueChange)="handleChangeValue($event)"
    [(ngModel)]="rangeValue"
    [bsConfig]="bsConfig"
    [maxDate]="maxDate"
    [isDisabled]="isDisabled"
    [disabled]="isDisabled"
    bsDaterangepicker
    class="form-control" />
  <!-- end input form -->

  <!-- next -->
  @if (!isDisabled) {
    <button (click)="handleNextRange()" class="btn btn-sm btn-outline-primary">
      <span class="fa-solid fa-right-long"></span>
    </button>
  }
  <!-- end next -->

  <!-- state -->
  <button
    (click)="handleToggleState()"
    [ngClass]="{ 'btn-outline-danger': !isDisabled, 'btn-outline-success': isDisabled }"
    class="btn btn-sm">
    @if (isDisabled) {
      <span awTooltip title="Activar filtro" class="fa-regular fa-calendar"></span>
    } @else {
      <span awTooltip title="Desactivar filtro" class="fa-regular fa-calendar"></span>
    }
  </button>
  <!-- end state -->
</div>
