<aw-page-base>
  <span class="mat-headline-1">Hello</span>
  <span class="mat-h1">Hello</span>
  <h1>Hello</h1>
  <h2>Hello</h2>
  <h3>Hello</h3>
  <h4>Hello</h4>
  <h5>Hello</h5>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed esse laudantium provident velit officia nostrum fugit
    quis, voluptatem possimus in facere suscipit quibusdam, dignissimos ipsam, totam quae et unde assumenda?
    <a href="#">Prueba de como se ve el color</a>
  </p>

  <div class="example-button-row">
    <button mat-flat-button class="btn">Basic</button>
    <button mat-flat-button color="primary" class="btn">Primary</button>
    <button mat-flat-button color="accent" class="btn">Accent</button>
    <button mat-flat-button color="warn">Warn</button>
    <button mat-flat-button disabled>Disabled</button>
    <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
  </div>
</aw-page-base>
