<aw-view-base>
  <aw-view-header [breadcrumb]="breadcrumb">Tiempos empleados</aw-view-header>

  <aw-card>
    <!-- toolbar -->
    <div class="d-flex mb-2">
      <span class="me-auto">
        <a [routerLink]="siteUrls.employees.invite" class="btn btn-sm btn-outline-success">
          <span class="fas fa-user-plus"></span> Añadir tiempo
        </a>
      </span>

      <span>
        <aw-table-input-search
          (clickClean)="handleClickClean($event)"
          [apiResult]="apiResult"
          [tableHeaderConfig]="tableHeaderConfig" />
      </span>
    </div>
    <!-- end toolbar -->

    <!-- table -->
    <aw-table [apiResult]="apiResult" [loading]="loading">
      <thead awThead>
        <tr
          (clickOrdering)="handleReloadData()"
          [apiResult]="apiResult"
          [tableHeaderConfig]="tableHeaderConfig"
          awTableHeader></tr>
      </thead>

      <tbody *ngIf="apiResult" awTbody>
        <tr *ngFor="let timeControl of apiResult.items">
          <td>{{ timeControl.firstName }}</td>
          <td>{{ timeControl.lastName }}</td>
          <td>
            <span [innerHTML]="timeControl.deviceTypeStart | deviceType"></span>
            {{ timeControl.start | datetime }}

            <ng-container *ngIf="getStartOpenStreetMapLink(timeControl)">
              <a [href]="getStartOpenStreetMapLink(timeControl)" target="_blank">
                <span awTooltip title="Ver en mapa" class="fa-solid fa-location-pin text-success"></span>
              </a>
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="timeControl.timeState === timeState.open">
              <span [innerHTML]="timeControl.deviceTypeFinish | deviceType"></span>
            </ng-container>

            <ng-container *ngIf="timeControl.timeState === timeState.close">
              {{ timeControl.finish | datetime }}

              <ng-container *ngIf="getFinishOpenStreetMapLink(timeControl)">
                <a [href]="getFinishOpenStreetMapLink(timeControl)" target="_blank">
                  <span awTooltip title="Ver en mapa" class="fa-solid fa-location-pin text-success"></span>
                </a>
              </ng-container>
            </ng-container>
          </td>
          <td>{{ timeControl.closedBy | closedBy }}</td>
          <td>
            <ng-container *ngIf="timeControl.timeState === timeState.open">
              <aw-dot-success />
            </ng-container>

            <ng-container *ngIf="timeControl.timeState === timeState.close">
              <aw-dot-danger />
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="timeControl.duration > 1">
              {{ timeControl.duration | durationToTime }}
            </ng-container>

            <ng-container *ngIf="timeControl.duration === 0"> - </ng-container>
          </td>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </aw-table>
    <!-- end table -->

    <!-- pagination -->
    <aw-pagination
      (changePage)="handleReloadData()"
      (changePageListNumber)="handleReloadData()"
      *ngIf="apiResult"
      [apiResult]="apiResult" />
    <!-- end pagination -->
  </aw-card>
</aw-view-base>
