<form (ngSubmit)="handleSubmit()" [formGroup]="form">
  <div class="d-flex justify-content-center flex-wrap">
    <!-- timeStart -->
    <aw-form-datetime-picker
      [badRequest]="badRequest"
      [form]="form"
      [submitted]="submitted"
      fieldName="start"
      formControlName="start"
      label="Inicio"
      class="me-4" />

    <!-- timeFinish -->
    <aw-form-datetime-picker
      [badRequest]="badRequest"
      [form]="form"
      [submitted]="submitted"
      fieldName="finish"
      formControlName="finish"
      label="Final" />
  </div>

  <div class="d-flex justify-content-center">
    <mat-slide-toggle (change)="handleToggleFieldFinish()" [checked]="!disabledFinishTimes">
      @if (disabledFinishTimes) {
        <span>Finalizar tiempo</span>
      } @else {
        <span>Dejar tiempo activo</span>
      }
    </mat-slide-toggle>
  </div>

  <mat-divider class="mt-2" />

  <!-- footer -->
  <div class="mt-4">
    <aw-btn-back class="me-2" text="Cancelar" />
    <aw-btn-loading [btnType]="btnType.submit" [loading]="loadingForm" icon="add" btnText="Crear tiempo" />
  </div>
</form>
