<div class="form-floating">
  <input
    (ngModelChange)="onChangeValue($event)"
    [(ngModel)]="value"
    [disabled]="isDisabled"
    [id]="id"
    [ngClass]="{ extraCss: true, 'is-invalid': isInvalid() }"
    [placeholder]="placeholder"
    [type]="inputType"
    [value]="value"
    class="form-control" />
  <ng-container *ngIf="label">
    <label [for]="id">
      {{ label }}
    </label>
  </ng-container>
</div>

<ng-container *ngIf="form">
  <aw-field-error
    [badRequest]="badRequest"
    [fieldName]="fieldName"
    [fieldText]="label"
    [form]="form"
    [submitted]="submitted" />
</ng-container>
