<div class="d-flex my-3">
  <h3 class="m-auto">Control de tiempos</h3>
</div>

<div class="my-3">
  <aw-month-selector
    (changeMonthSelected)="handleDateSelected($event)"
    [dateSelected]="dateSelected" />
</div>

<div class="d-flex my-3">
  <div class="ms-auto small text-muted">Tiempo total: {{ timeTotalInMonth }}</div>
</div>

<!-- times -->
<div>
  <aw-time-control-progress
    [loading]="loadingTimeControls"
    [progressStackedCollection]="progressStackedCollection" />
  <!-- end times -->
</div>
