<aw-page-base>
  <aw-page-header>Pagina de tests</aw-page-header>

  <div class="d-flex flex-row flex-wrap justify-content-center">
    <mat-card class="calendar">
      <mat-card-content>
        <mat-calendar [(selected)]="selected" />
      </mat-card-content>
    </mat-card>

    <mat-card class="calendar">
      <mat-card-content>
        <mat-calendar [(selected)]="selected" />
      </mat-card-content>
    </mat-card>

    <mat-card class="calendar">
      <mat-card-content>
        <mat-calendar [(selected)]="selected" />
      </mat-card-content>
    </mat-card>

    <mat-card class="calendar">
      <mat-card-content>
        <mat-calendar [(selected)]="selected" />
      </mat-card-content>
    </mat-card>
  </div>
</aw-page-base>
