<div class="card-container shadow">
  <aw-card>
    <div class="calendar-container">
      <div class="calendar-header">
        <p class="calendar-current-date">{{ currentDate }}</p>
      </div>

      <div class="calendar-body">
        @if (!loading) {
          <ul class="calendar-weekdays">
            @for (week of weeks; track week) {
              <li>{{ week }}</li>
            }
          </ul>

          <ul class="calendar-dates">
            @for (calendarDay of calendarDays; track calendarDay) {
              <li
                (click)="handleCalendarDayClick(calendarDay)"
                [ngClass]="{ inactive: calendarDay.inactive, active: calendarDay.isToday }">
                <span
                  awTooltip
                  [title]="calendarDay.description ?? ''"
                  [ngClass]="{ 'not-editable': !calendarDay.canAddEvent }"
                  [ngStyle]="{ background: calendarDay.background, color: calendarDay.color }"
                  class="calendar-day">
                  @if (calendarDay.day < 10) {
                    &nbsp;{{ calendarDay.day }}&nbsp;
                  } @else {
                    {{ calendarDay.day }}
                  }
                </span>
              </li>
            }
          </ul>
        } @else {
          <aw-spinner [loading]="loading" [size]="100" />
        }
      </div>
    </div>
  </aw-card>
</div>
