<div class="card-container shadow">
  <aw-card>
    <div class="calendar-container">
      <div class="calendar-header">
        <p class="calendar-current-date">{{ currentDate }}</p>
      </div>

      <div class="calendar-body">
        <ul class="calendar-weekdays">
          @for (week of weeks; track week) {
            <li>{{ week }}</li>
          }
        </ul>

        <ul class="calendar-dates">
          @if (!loading) {
            @for (calendarDay of calendarDays; track calendarDay) {
              <li (click)="handleCalendarDayClick(calendarDay)" [ngClass]="{ inactive: calendarDay.inactive }">
                <span
                  awTooltip
                  [title]="calendarDay.description ?? ''"
                  [ngClass]="{ 'not-editable': !calendarDay.canAddEvent, today: calendarDay.isToday }"
                  [ngStyle]="{ background: calendarDay.background, color: calendarDay.color }"
                  class="calendar-day">
                  @if (calendarDay.day < 10) {
                    &nbsp;{{ calendarDay.day }}&nbsp;
                  } @else {
                    {{ calendarDay.day }}
                  }
                </span>
              </li>
            }
          } @else {
            <aw-spinner [loading]="loading" [size]="120" />
          }
        </ul>
      </div>
    </div>
  </aw-card>
</div>
