$color-inactive: #939393;
$hover-day-background: cadetblue;

:host ::ng-deep .card-container {
  margin: 2px;
  max-width: 350px;
  padding: 0;

  .card-body {
    padding: 0.5rem 1rem 0 0;
  }

  .calendar-header {
    .calendar-current-date {
      font-weight: 500;
      display: flex;
      justify-content: center;
    }
  }

  .calendar-body {
    ul {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      justify-content: center;
    }

    .calendar-dates {
      li {
        margin-top: 17px;
        font-size: 0.9rem;

        .calendar-day {
          border-radius: 15px;
          padding: 5px;

          &:hover {
            cursor: pointer;
            background-color: $hover-day-background;

            &.not-editable {
              background-color: transparent;
              cursor: default;
            }
          }

          &.today {
            border: 3px solid #3b44cd;
          }
        }
      }

      .inactive {
        color: $color-inactive;
      }
    }

    li {
      width: calc(100% / 7);
    }

    .calendar-weekdays {
      li {
        cursor: default;
        font-weight: 500;
      }
    }
  }
}
