<aw-page-base>
  <aw-page-header [breadcrumb]="breadcrumb" />

  <mat-card>
    <mat-card-content>
      <!-- toolbar -->
      <button [routerLink]="[siteUrl.employeeSettings.update]" color="primary" mat-stroked-button>
        <mat-icon>edit</mat-icon>
        Editar
      </button>

      <!-- table -->
      @if (!loadingEmployeeSettings()) {
        <table class="table-list">
          <tbody>
            <!-- timezone -->
            <tr class="table-list-row">
              <td>
                Zona horaria
                <mat-icon matTooltip="Los tiempos se vera en base a la zona horaria" color="primary">info</mat-icon>
              </td>
              <td>{{ employeeSettings()?.timezone }} {{ nowWithTimezone }}</td>
            </tr>
          </tbody>
        </table>
      } @else {
        <!-- spinner -->
        <div class="d-flex justify-content-center my-5">
          <mat-progress-spinner color="primary" mode="indeterminate" />
        </div>
      }
    </mat-card-content>
  </mat-card>
</aw-page-base>
