<nav class="sidebar" id="sidebar">
  <div class="sidebar-content">
    <ng-scrollbar>
      <div class="sidebar-profile">
        <div class="user-pic">
          <img
            [ngClass]="{
              'time-state-open': currentTimeControl()?.timeState === timeStates.Open,
              'time-state-close': currentTimeControl()?.timeState === timeStates.Close
            }"
            alt="User avatar"
            class="img-responsive img-rounded"
            src="assets/images/user.jpg" />
        </div>

        <div class="user-info">
          <span class="company-name">{{ companyName }}</span>
          <span class="user-name">{{ username }}</span>
        </div>
      </div>

      <div class="sidebar-menu">
        <ul>
          @for (sidebarMenu of sidebarMenus; track sidebarMenu) {
            <li
              [awRequiredRole]="sidebarMenu.requiredRole"
              [ngClass]="{
                active: sidebarMenu.active,
                'sidebar-dropdown': sidebarMenu.type === sidebarMenuTypes.dropdown,
                'header-menu': sidebarMenu.type === sidebarMenuTypes.header
              }">
              <!-- type header -->
              @if (sidebarMenu.type === sidebarMenuTypes.header) {
                <span>{{ sidebarMenu.title }}</span>
              }
              <!-- end type header -->

              <!-- type != header && type != simple -->
              @if (sidebarMenu.type !== sidebarMenuTypes.header && sidebarMenu.type !== sidebarMenuTypes.simple) {
                <a (click)="toggle(sidebarMenu)" class="cursor-pointer">
                  <span [class]="sidebarMenu.icon"></span>
                  <span> {{ sidebarMenu.title }}</span>
                  @if (sidebarMenu.badge) {
                    <span [ngClass]="sidebarMenu.badge.class" class="badge badge-pill">
                      {{ sidebarMenu.badge.text }}
                    </span>
                  }
                </a>
              }
              <!-- end type != header && type != simple -->

              <!-- type simple -->
              @if (sidebarMenu.type === sidebarMenuTypes.simple) {
                <a [routerLink]="[sidebarMenu.link]" routerLinkActive="active">
                  <span [class]="sidebarMenu.icon"></span>
                  <span>&nbsp;{{ sidebarMenu.title }}</span>
                  @if (sidebarMenu.badge) {
                    <span [ngClass]="sidebarMenu.badge.class" class="badge badge-pill">
                      {{ sidebarMenu.badge.text }}
                    </span>
                  }
                </a>
              }
              <!-- end type simple -->

              <!-- type dropdown -->
              @if (sidebarMenu.type === sidebarMenuTypes.dropdown) {
                <div [@slide]="getState(sidebarMenu)" class="sidebar-submenu">
                  <ul>
                    @for (submenu of sidebarMenu.submenus; track submenu) {
                      <li [awRequiredRole]="submenu.requiredRole">
                        <a [routerLink]="submenu.link" routerLinkActive="active">
                          @if (submenu.icon) {
                            <span [ngClass]="submenu.icon"></span>
                            {{ submenu.title }}
                          }

                          @if (!submenu.icon) {
                            <span class="ms-3">
                              {{ submenu.title }}
                            </span>
                          }

                          @if (submenu.badge) {
                            <span [ngClass]="submenu.badge.class" class="badge badge-pill">
                              {{ submenu.badge.text }}
                            </span>
                          }
                        </a>
                      </li>
                    }
                  </ul>
                </div>
              }
              <!-- end type dropdown -->
            </li>
          }
        </ul>
      </div>
    </ng-scrollbar>
  </div>
</nav>
